
.scrollable {
  height: 400px;
  overflow: auto;
}

.scrollable:hover{
  overflow-y: scroll;
}
.scrollable::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.scrollable::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
  border-radius: 10px;
}

.scrollable::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
}
