<div class="container-fluid" [@hiddenItem] = "no_selections?'notHidden':'hidden'">
  <p class="lead text-muted text-center">
    Please select at least one Period and one Organisation Unit.
  </p>
</div>

<app-loading-notification
  [loading]="loading"
  [loading_message]="loading_message"
  [proccesed_indicators]="proccesed_indicators"
  [proccessed_percent]="proccessed_percent"
  [allIndicatorsLength]="allIndicatorsLength">
</app-loading-notification>

<div class="container-fluid" id="scorecard" style="padding-left: 5px;margin-top: 10px">

  <app-scorecard-header
    [legendset_definitions]="scorecard.data.legendset_definitions"
    [show_legend_definition]="scorecard.data.header.show_legend_definition"
    [template_content]="scorecard.data.header.template"
    [organisation_unit_title]="organisation_unit_title"
    [period_title]="period_title"
    [scorecard_title]="scorecard.data.header.title"
    [has_error]="error_occured"
    [has_bottleneck]="has_bottleneck"
    ></app-scorecard-header>

  <div *ngIf="orgunits.length != 0">
    <!--scorecard table orgunit on the left data on top-->
    <div [ngClass]="{ 'hide_no_group': scorecard.data.show_data_in_column}">
      <app-basic-view
      [scorecard]="scorecard"
      [indicator_holders_list]="getItemsFromGroups()"
      [children_available]="children_available"
      [current_sorting]="current_sorting"
      [functions]="functions"
      [has_error]="has_error"
      [error_text]="error_text"
      [hidenColums]="hidenColums"
      [indicator_done_loading]="indicator_done_loading"
      [indicator_loading]="indicator_loading"
      [old_proccessed_percent]="old_proccessed_percent"
      [orgunits]="orgunits"
      [periods_list]="periods_list"
      [selectedPeriod]="selectedPeriod"
      [showSubScorecard]="showSubScorecard"
      [sortAscending]="sortAscending"
      [sorting_column]="sorting_column"
      [sorting_period]="sorting_period"
      [sub_model]="sub_model"
      [subscorecard]="subscorecard"
      [organisation_unit_nodes]="organisation_unit_nodes"
      (onSortScoreCardFromColumn)="sortScoreCardFromColumn($event)"
      (onDragItemSuccessfull)="dragItemSuccessfull($event)"
      (onLoadChildrenData)="loadChildrenData($event)"
      (onSortBestWorst)="sortBestWorst($event)"
      (onLoadPreview)="loadPreview($event)"
      (onHideClicked)="hideClicked($event)"
      (onLoadPreviewFromChild)="loadPreiviewFromChild($event)"
    ></app-basic-view>
    </div>

    <!--scorecard table data in the top orgunit on left-->
    <div [ngClass]="{ 'hide_no_group': !scorecard.data.show_data_in_column}">
      <app-inverted-view
      [scorecard]="scorecard"
      [indicator_holders_list]="getItemsFromGroups()"
      [children_available]="children_available"
      [current_sorting]="current_sorting"
      [functions]="functions"
      [has_error]="has_error"
      [error_text]="error_text"
      [hidenColums]="hidenColums"
      [indicator_done_loading]="indicator_done_loading"
      [indicator_loading]="indicator_loading"
      [old_proccessed_percent]="old_proccessed_percent"
      [orgunits]="orgunits"
      [periods_list]="periods_list"
      [selectedPeriod]="selectedPeriod"
      [showSubScorecard]="showSubScorecard"
      [sortAscending]="sortAscending"
      [sorting_column]="sorting_column"
      [sorting_period]="sorting_period"
      [sub_model]="sub_model"
      [subscorecard]="subscorecard"
      [organisation_unit_nodes]="organisation_unit_nodes"
      (onSortScoreCardFromColumn)="sortScoreCardFromColumn($event)"
      (onDragItemSuccessfull)="dragItemSuccessfull($event)"
      (onLoadChildrenData)="loadChildrenData($event)"
      (onSortBestWorst)="sortBestWorst($event)"
      (onLoadPreview)="loadPreview($event)"
      (onLoadPreviewFromChild)="loadPreiviewFromChild($event)"
      (onHideClicked)="hideClicked($event)"
      ></app-inverted-view>
    </div>
  </div>

  <div class="text-center" *ngIf="orgunits.length == 0">
    <img src="assets/img/balls-4.svg" style="height: 200px; width: 200px"><br>
    <h3>Getting the scorecard ready</h3>
  </div>
</div>

