
<!--loading message-->
<div [@hiddenItem] = "loading?'notHidden':'hidden'">
  <div class="container-fluid no-print" style="margin-top: 10px;padding-left: 0px">
  <div class="row">
    <div class="col-md-10 col-sm-10 col-xs-9">
      <span>
        {{ loading_message }}
      </span>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-3"><span class="pull-right">{{proccesed_indicators}}/{{ allIndicatorsLength }} ( {{proccessed_percent | number : '1.2-2'}}% ) </span></div>
  </div>
  </div>

  <div class="container-fluid no-print" style="margin-top: 10px;padding-left: 0px">
  <div class="row">
    <div class="col-md-12">
      <div class="progress" style="height: 10px;">
        <div
          class="progress-bar progress-bar-success  progress-bar-striped"
          role="progressbar"
          [attr.aria-valuenow]="proccessed_percent"
          [attr.aria-valuemin]="0"
          [attr.aria-valuemax]="100"
          [style.width]="proccessed_percent+'%'">
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
<!--main scorecard area-->
<div class="container-fluid" id="scorecard" style="padding-left: 5px;margin-top: 10px">
  <div [innerHTML]="scorecard.data.header.template.content | safeHtml"></div>
  <h3 class="text-center">
    <span *ngIf="!scorecard.data.header.template.content">{{ scorecard.data.header.title }} &nbsp;</span>
    {{ organisationUnitName || '' }}&nbsp;&nbsp;&nbsp;
    <span> {{ periodName || '' }} </span>
  </h3>

  <!--legend area-->
  <div class="row legend" style="margin-bottom: 10px" *ngIf="scorecard.data.header.show_legend_definition && orgunits.length != 0">
    <div class="col-sm-2 legendItem" *ngFor="let legend of scorecard.data.legendset_definitions">
      <table>
        <tr>
          <td style="padding-left: 0px;height: 25px;width: 50px">
            <svg viewbox="0 0 50 25" width="50" height="25" style="border: 1px solid #014b5a">
              <polygon points="0 0 50 0 50 25 0 25" [attr.fill]="legend.color"/>
            </svg>
          </td>
          <td style="font-size: 10px;padding-left: 5px">{{ legend.definition}}</td>
        </tr>
      </table>
    </div>
  </div>

  <div *ngIf="orgunits.length != 0">
    <!--scorecard table data in the top orgunit on left-->
    <table class="table table-bordered scorecard_table" *ngIf="scorecard.data.show_data_in_column">
      <!--orgunits-->
      <tr>
        <th *ngIf="scorecard.data.show_rank"  style="width: 30px;vertical-align: bottom" [attr.rowspan]="periods_list.length >1 ? 2 : 1">No#</th>
        <th style="vertical-align: bottom">
          <input type="text" class="form-control input-sm no-print" [(ngModel)]="searchQuery" placeholder="Search..">
        </th>
        <td *ngFor="let current_orgunit of orgunits" class="indicator_title"
            style="line-height: 140%; padding: 0px;vertical-align: bottom"
            title="Click to Sort By {{ current_orgunit.name }}"
            [attr.colspan]="periods_list.length"
            dnd-droppable (onDropSuccess)="dragItemSuccessfull($event,'orgunit',current_orgunit)"
        >

          <div dnd-draggable [dragEnabled]="true" [dragData]="current_orgunit" style="padding: 8px">
            {{ current_orgunit.name }}
          </div>
          <!--sorting icons-->
          <!--<span class="glyphicon glyphicon-chevron-up pull-right text-muted" *ngIf="!current_sorting && sorting_column == indicator.indicators[0].id"></span>-->
          <!--<span class="glyphicon glyphicon-chevron-down pull-right text-muted" *ngIf="current_sorting && sorting_column == indicator.indicators[0].id"></span>-->
        </td>
        <th class="subtotal" *ngIf="show_sum_in_row">Sum</th>
        <th class="subtotal" *ngIf="scorecard.data.show_average_in_row" (click)="sortScoreCardFromColumn('avg', sortAscending, orgunits, periods_list[0].id, false)" [attr.rowspan]="periods_list.length >1 ? 2 : 1" style="vertical-align: bottom">
          Average
          <!--sorting icons-->
          <span class="glyphicon glyphicon-chevron-up pull-right text-muted" *ngIf="!current_sorting && sorting_column == 'avg'"></span>
          <span class="glyphicon glyphicon-chevron-down pull-right text-muted" *ngIf="current_sorting && sorting_column == 'avg'"></span>
        </th>
        <th *ngFor="let label of scorecard.data.additional_labels" style="font-size: 10px;max-width: 90px;overflow-wrap: break-word; cursor: pointer; line-height: 80%"
            class="sans-pro" [attr.rowspan]="periods_list.length >1 ? 2 : 1">
          {{ label }}
        </th>
      </tr>

      <!--testing adding period dimension-->
      <tr *ngIf="periods_list.length > 1">
        <!--<th *ngIf="scorecard.data.show_rank"  style="width: 30px"></th>-->
        <th style="vertical-align: bottom">

        </th>
        <ng-container *ngFor="let current_orgunit of orgunits; let i=index">
          <td *ngFor="let per of periods_list" class="indicator_title"
              style="line-height: 140%"
          >
            {{ per.name }}
            <!--sorting icons-->
            <!--<span class="glyphicon glyphicon-chevron-up pull-right text-muted" *ngIf="!current_sorting && sorting_column == indicator.indicators[0].id"></span>-->
            <!--<span class="glyphicon glyphicon-chevron-down pull-right text-muted" *ngIf="current_sorting && sorting_column == indicator.indicators[0].id"></span>-->
          </td>
        </ng-container>
        <th class="subtotal" *ngIf="show_sum_in_row">Sum</th>
        <!--<th class="subtotal" *ngIf="show_average_in_row" (click)="sortScoreCardFromColumn('avg', sortAscending, orgunits, periods_list[0].id, false)"></th>-->
        <!--<th *ngFor="let label of scorecard.data.additional_labels" style="font-size: 10px;max-width: 90px;overflow-wrap: break-word; cursor: pointer; line-height: 80%"-->
        <!--class="sans-pro">-->
        <!--{{ label }}-->
        <!--</th>-->
      </tr>

      <!--data-->
      <ng-container *ngFor="let indicator of getItemsFromGroups() | filterIndicatorByName:searchQuery; let i=index">
        <tr style="height: 35px; max-height: 35px; overflow-y: hidden; line-height: 80%" class="orunitTr" *ngIf="scorecard.data.shown_records == 'all' || i < scorecard.data.shown_records">
          <td style="vertical-align: bottom;font-size: 10px;cursor: pointer;line-height: 80%;padding: 8px" *ngIf="scorecard.data.show_rank">{{ i+1 }}</td>
          <td style="vertical-align: bottom;font-size: 10px;cursor: pointer;line-height: 80%;padding: 8px;min-width:150px"
              class="orgUnitName"
              dnd-droppable (onDropSuccess)="dragItemSuccessfull($event,'indicator',indicator)"
              (click)="loadChildrenData(null,indicator.indicators[0])"

          >
            <div dnd-draggable [dragEnabled]="true" [dragData]="indicator">
              <img src="assets/img/balls-3.svg"
                   style="height: 30px" *ngIf="indicator_loading[indicator.indicators[0].id]"
                   title="Loading old data for {{ getIndicatorTitle(indicator) }}">
              <span *ngIf="indicator_done_loading[indicator.indicators[0].id] && old_proccessed_percent != 100" class="glyphicon glyphicon-ok text-success"></span>

              {{ getIndicatorTitle(indicator) }}
            </div>
          </td>

          <ng-container *ngFor="let current_orgunit of orgunits; let i=index">
            <td *ngFor="let per of periods_list"
                style="font-size: 10px;max-width: 90px;overflow-wrap: break-word; cursor: pointer; padding: 0px;line-height: 10%;"
                class="sans-pro"
                (click)="loadPreview(null,indicator,current_orgunit.id,per)"
                title="{{ prepareTooltip(indicator,current_orgunit.id, per.id) }}"
            >
              <svg-item [indicator]="indicator" [current_orgunit]="current_orgunit" [indicator_list]="getVisibleIndicators(indicator)" [scorecard]="scorecard" [period]="per.id"></svg-item>
            </td>
          </ng-container>
          <td style="width: 90px;max-width: 90px;line-height: 10%;padding: 0px" *ngIf="show_sum_in_row">
            <app-subtotal [indicator]="indicator" [orgunits]="orgunits" [scorecard]="scorecard" [calculation]="'sum'" [indicator_list]="getVisibleIndicators(indicator)" [period]="periods_list[0].id"></app-subtotal>
          </td>
          <td style="width: 90px;max-width: 90px;line-height: 10%;padding: 0px"  *ngIf="scorecard.data.show_average_in_row">
            <app-subtotal [indicator]="indicator" [orgunits]="orgunits" [scorecard]="scorecard" [calculation]="'avg'" [indicator_list]="getVisibleIndicators(indicator)" [period]="periods_list[0].id"></app-subtotal>
          </td>
          <td *ngFor="let label of scorecard.data.additional_labels" style="font-size: 10px;max-width: 90px;overflow-wrap: break-word; cursor: pointer; line-height: 80%"
              class="sans-pro">
            {{ getIndicatorLabel( indicator,label ) }}

          </td>
        </tr>

        <tr *ngIf="showSubScorecard[indicator.indicators[0].id]">
          <td [attr.colspan]="getSubscorecardColspan()" style="background-color: rgba(0,0,0,0.1)">
            <!--Internal score card-->
            <h3 class="text-center text-muted" *ngIf="!children_available[indicator.indicators[0].id]">This indicator has no related indicators</h3>

          </td>
        </tr>
      </ng-container>

      <!--sum column-->
      <tr *ngIf="scorecard.data.show_sum_in_column" style="height: 35px; max-height: 35px; overflow-y: hidden; line-height: 80%">
        <th *ngIf="scorecard.data.show_rank" style="width: 30px"></th>
        <th style="line-height: 10%">Sum</th>
        <ng-container *ngFor="let current_orgunit of orgunits">
          <th *ngFor="let per of periods_list" style="font-size: 10px;max-width: 90px;overflow-wrap: break-word;padding: 8px; line-height: 80%;">
            {{ findRowSum(current_orgunit.id, periods_list[0].id) | number : '1.2-2' }}
          </th>
        </ng-container>
        <th *ngIf="show_sum_in_row">{{ findRowTotalSum(orgunits, periods_list[0].id) | number : '1.2-2'}}</th>
        <th *ngIf="scorecard.data.show_average_in_row">{{ findRowTotalAverage(orgunits, periods_list[0].id)}}</th>
      </tr>
      <!--Average column-->
      <tr *ngIf="scorecard.data.show_average_in_column" style="height: 35px; max-height: 35px; overflow-y: hidden; line-height: 80%">
        <th *ngIf="scorecard.data.show_rank" style="width: 30px"></th>
        <th>Average</th>
        <ng-container *ngFor="let current_orgunit of orgunits">
          <th *ngFor="let per of periods_list" style="font-size: 10px;max-width: 90px;overflow-wrap: break-word;padding: 8px; line-height: 80%;">
            {{ findRowAverage(current_orgunit.id, periods_list, per.id) }}
          </th>
        </ng-container>
        <th *ngIf="show_sum_in_row">{{ findRowTotalSum(orgunits, periods_list[0].id)  | number : '1.2-2'}}</th>
        <th *ngIf="scorecard.data.show_average_in_row">{{ findRowTotalAverage(orgunits, periods_list[0].id)}}</th>
      </tr>
    </table>

    <!--scorecard table orgunit on the left data on top-->
    <table class="table table-bordered scorecard_table" *ngIf="!scorecard.data.show_data_in_column">
      <!--Groups-->
      <tr [ngClass]="{'hide_no_group': scorecard.data.data_settings.indicator_holder_groups.length == 1}" style="line-height: 140%">
        <!--numbering-->
        <th *ngIf="scorecard.data.show_rank" style="width: 30px"></th>
        <!--orgunit area/for sorting orgunit-->
        <th class="orgUnitName" (click)="sortScoreCardFromColumn('none', sortAscending, orgunits, periods_list[0].id, false)" title="Sort scorecard by organisation unit">
          <!--sorting icons-->
          <span class="fa fa-sort-desc pull-right text-muted" *ngIf="!current_sorting && sorting_column == 'none'"></span>
          <span class="fa fa-sort-asc pull-right text-muted" *ngIf="current_sorting && sorting_column == 'none'"></span>
        </th>
        <!--display each group-->
        <th
          style="font-size: 11px; cursor: pointer"
          *ngFor="let indicator_holder_group of scorecard.data.data_settings.indicator_holder_groups"
          [attr.colspan]="getGroupColspan(indicator_holder_group.indicator_holder_ids)"
          [ngClass]="{'hide_no_group': getGroupColspan(indicator_holder_group.indicator_holder_ids) == 0}"
          (click)="loadPreview(indicator_holder_group,null,null,null)"
          title="Click to analyse indicators for {{ indicator_holder_group.name }}"
          dnd-droppable (onDropSuccess)="dragItemSuccessfull($event,'group',indicator_holder_group)"
        >
          <div dnd-draggable [dragEnabled]="true" [dragData]="indicator_holder_group">
            {{ indicator_holder_group.name }}
          </div>
        </th>
        <th *ngIf="show_sum_in_row"></th>
        <th *ngIf="scorecard.data.show_average_in_row"></th>
      </tr>
      <!--indicator titles-->
      <tr>
        <th *ngIf="scorecard.data.show_rank"  style="width: 30px;vertical-align: bottom;" [attr.rowspan]="periods_list.length >1 ? 2 : 1">No#</th>
        <th style="vertical-align: bottom" (click)="sortScoreCardFromColumn('none', sortAscending, orgunits, periods_list[0].id, false)">
          <!--sorting icons-->
          <input type="text" class="form-control form-control-sm no-print" [(ngModel)]="searchQuery" placeholder="Search for orgunits here">
          <span class="fa fa-sort-up pull-right pull-right text-muted" *ngIf="!current_sorting && sorting_column == 'none' && scorecard.data.data_settings.indicator_holder_groups.length == 1"></span>
          <span class="fa fa-sort-down pull-right pull-right text-muted" *ngIf="current_sorting && sorting_column == 'none' && scorecard.data.data_settings.indicator_holder_groups.length == 1"></span>
        </th>
        <td *ngFor="let indicator of getItemsFromGroups()" class="indicator_title"
            style="line-height: 140%; padding: 0px;vertical-align: bottom;"
            title="Click to Sort By {{ getIndicatorTitle(indicator) }}"
            (click)="sortScoreCardFromColumn(indicator.indicators[0].id, sortAscending, orgunits, periods_list[0].id, false)"
            (dblclick)="loadPreview(null,indicator,null,null)"
            [attr.colspan]="periods_list.length"
            dnd-droppable (onDropSuccess)="dragItemSuccessfull($event,'indicator',indicator)"
            [contextMenu]="contextMenu"
            [contextMenuSubject]="indicator"
            (contextmenu)="onContextMenu($event, indicator)"
        >
          <div dnd-draggable [dragEnabled]="true" [dragData]="indicator" style="padding: 8px">
            <app-indicator-title
              [indicator]="indicator"
              [indicator_done_loading]="indicator_done_loading"
              [indicator_loading]="indicator_loading"
              [periods_list]="periods_list"
              [old_proccessed_percent]="old_proccessed_percent"
              [sorting_column]="sorting_column"
              [current_sorting]="current_sorting"
              [has_error]="has_error"
            ></app-indicator-title>
          </div>
        </td>
        <th class="subtotal" *ngIf="show_sum_in_row">Sum</th>
        <th
          class="subtotal"
          *ngIf="scorecard.data.show_average_in_row"
          (click)="sortScoreCardFromColumn('avg', sortAscending, orgunits, periods_list[0].id, false)"
          [attr.rowspan]="periods_list.length >1 ? 2 : 1"
          style="vertical-align: bottom;"
        >
          Average
          <!--sorting icons-->
          <span class="fa fa-sort-up pull-right  pull-right text-muted" *ngIf="!current_sorting && sorting_column == 'avg'"></span>
          <span class="fa fa-sort-down pull-right  pull-right text-muted" *ngIf="current_sorting && sorting_column == 'avg'"></span>
        </th>
      </tr>

      <!-- period dimension-->
      <tr *ngIf="periods_list.length > 1">
        <th style="vertical-align: bottom">

        </th>
        <ng-container *ngFor="let indicator of getItemsFromGroups()">
          <td *ngFor="let per of periods_list" class="indicator_title"
              style="line-height: 140%"
              title="Click to Sort By {{ indicator.title }}"
              (click)="sortScoreCardFromColumn(indicator.indicators[0].id, sortAscending, orgunits, per.id, false)"
              (dblclick)="loadPreview(null,indicator,null,per)"
          >
            <app-period-title
              [indicator]="indicator"
              [period]="per"
              [indicator_done_loading]="indicator_done_loading"
              [indicator_loading]="indicator_loading"
              [periods_list]="periods_list"
              [old_proccessed_percent]="old_proccessed_percent"
              [sorting_column]="sorting_column"
              [sorting_period]="sorting_period"
              [current_sorting]="current_sorting"
              [has_error]="has_error"
            ></app-period-title>
          </td>
        </ng-container>
        <th class="subtotal" *ngIf="show_sum_in_row">Sum</th>
        <!--<th class="subtotal" *ngIf="show_average_in_row" (click)="sortScoreCardFromColumn('avg', sortAscending, orgunits, periods_list[0].id, false)"></th>-->
      </tr>

      <!--data-->

      <ng-container *ngFor="let current_orgunit of orgunits | filterByName:searchQuery; let i=index">
        <tr
          style="height: 35px; max-height: 35px; overflow-y: hidden; line-height: 80%"
          class="orunitTr"
          *ngIf="scorecard.data.shown_records == 'all' || i < scorecard.data.shown_records"
          [ngClass]="{'hide_no_group': isRowEmpty(current_orgunit.id) || averageHidden(current_orgunit.id,periods_list[0].id)}"
        >
          <td style="vertical-align: bottom;font-size: 10px;cursor: pointer;line-height: 80%;padding: 8px" *ngIf="scorecard.data.show_rank">{{ i+1 }}</td>
          <td style="vertical-align: bottom;font-size: 10px;cursor: pointer;line-height: 80%;padding: 0px;min-width:150px"
              class="orgUnitName"
              (click)="loadChildrenData(current_orgunit,null)"
              [style.cursor]="getCursorStyle(current_orgunit)"
              dnd-droppable (onDropSuccess)="dragItemSuccessfull($event,'orgunit',current_orgunit)"
          >
            <div dnd-draggable [dragEnabled]="true" [dragData]="current_orgunit" style="padding: 8px">
              {{ current_orgunit.name }}
            </div>
          </td>
          <ng-container *ngFor="let indicator of getItemsFromGroups()">
            <td *ngFor="let per of periods_list"
                style="font-size: 10px;max-width: 90px;overflow-wrap: break-word; cursor: pointer; padding: 0px;line-height: 10%;"
                class="sans-pro"
                (click)="loadPreview(null,indicator,current_orgunit.id,per)"
                title="{{ prepareTooltip(indicator,current_orgunit.id,per.id) }}"
            >
              <svg-item
                [indicator]="indicator"
                [current_orgunit]="current_orgunit"
                [indicator_list]="getVisibleIndicators(indicator)"
                [scorecard]="scorecard" [period]="per.id">
              </svg-item>
            </td>
          </ng-container>
          <td
            style="font-size: 10px;max-width: 90px;overflow-wrap: break-word;padding: 8px; line-height: 80%;"
            *ngIf="show_sum_in_row">
            {{ findRowSum(current_orgunit.id,periods_list[0].id) | number : '1.2-2' }}
          </td>
          <td
            style="font-size: 10px;max-width: 90px;overflow-wrap: break-word;padding: 8px; line-height: 80%;"
            *ngIf="scorecard.data.show_average_in_row">
            {{ findRowAverage(current_orgunit.id, periods_list,null) }}
          </td>
        </tr>

        <tr *ngIf="showSubScorecard[current_orgunit.id]">
          <td [attr.colspan]="getSubscorecardColspan()" style="background-color: rgba(0,0,0,0.1)">
            <!--Internal score card-->
            <h3 class="text-center text-muted" *ngIf="!children_available[current_orgunit.id]">This Organisation Unit has no Children</h3>
            <app-scorecard
              *ngIf="children_available[current_orgunit.id]"
              #childScoreCard
              [scorecard]="subscorecard"
              [selectedOrganisationUnit]="sub_model"
              [selectedPeriod]="selectedPeriod"
              [functions]="functions"
              [is_children]="true"
            ></app-scorecard>
          </td>
        </tr>
      </ng-container>

      <!--sum column-->
      <tr *ngIf="scorecard.data.show_sum_in_column" style="height: 35px; max-height: 35px; overflow-y: hidden; line-height: 80%">
        <th *ngIf="scorecard.data.show_rank" style="width: 30px"></th>
        <th style="line-height: 10%">Sum</th>
        <ng-container *ngFor="let indicator of getItemsFromGroups()">
          <th *ngFor="let per of periods_list" style="width: 90px;max-width: 90px;line-height: 10%;padding: 0px">
            <app-subtotal [indicator]="indicator" [orgunits]="orgunits" [scorecard]="scorecard" [calculation]="'sum'" [indicator_list]="getVisibleIndicators(indicator)" [period]="per.id"></app-subtotal>
          </th>
        </ng-container>
        <th *ngIf="scorecard.data.show_sum_in_row">{{ findRowTotalSum(orgunits,periods_list[0].id) | number : '1.2-2'}}</th>
        <th *ngIf="scorecard.data.show_average_in_row">{{ findRowTotalAverage(orgunits,periods_list[0].id)}}</th>
      </tr>
      <!--Average column-->
      <tr *ngIf="scorecard.data.show_average_in_column" style="height: 35px; max-height: 35px; overflow-y: hidden; line-height: 80%">
        <th *ngIf="scorecard.data.show_rank" style="width: 30px"></th>
        <th>Average</th>
        <ng-container *ngFor="let indicator of getItemsFromGroups()">
          <th *ngFor="let per of periods_list" style="width: 90px;max-width: 90px;line-height: 10%;padding: 0px">
            <app-subtotal [indicator]="indicator" [orgunits]="orgunits" [scorecard]="scorecard" [calculation]="'avg'" [indicator_list]="getVisibleIndicators(indicator)" [period]="per.id"></app-subtotal>
          </th>
        </ng-container>
        <th *ngIf="show_sum_in_row">{{ findRowTotalSum(orgunits,periods_list[0].id)  | number : '1.2-2'}}</th>
        <th *ngIf="scorecard.data.show_average_in_row">{{ findRowTotalAverage(orgunits,periods_list[0].id)}}</th>
      </tr>
      <!--additinal label-->
      <tr *ngFor="let label of scorecard.data.additional_labels">
        <th *ngIf="scorecard.data.show_rank" style="width: 30px"></th>
        <th>{{ label }}</th>
        <ng-container *ngFor="let indicator of getItemsFromGroups()">
          <th *ngFor="let per of periods_list"
              style="font-size: 10px;max-width: 90px;overflow-wrap: break-word; cursor: pointer; line-height: 80%"
              class="sans-pro">
            {{ getIndicatorLabel( indicator,label ) }}
          </th>
        </ng-container>
        <th *ngIf="show_sum_in_row"></th>
        <th *ngIf="scorecard.data.show_average_in_row"></th>
      </tr>
    </table>
  </div>

  <div class="text-center" *ngIf="orgunits.length == 0">
    <img src="assets/img/balls-4.svg" style="height: 200px; width: 200px"><br>
    <h3>Getting the scorecard ready</h3>
  </div>
</div>
<context-menu>
  <ng-template contextMenuItem (execute)="loadPreview(null,$event.item,null,null)">
    <i class="fa fa-bar-chart-o" aria-hidden="true"></i> Analyse
  </ng-template>
  <ng-template contextMenuItem (execute)="sortScoreCardFromColumn($event.item.indicators[0].id, true, orgunits, periods_list[0].id, false)">
    <i class="fa fa-sort-amount-asc" aria-hidden="true"></i> Sort Asc
  </ng-template>
  <ng-template contextMenuItem (execute)="sortScoreCardFromColumn($event.item.indicators[0].id, false, orgunits, periods_list[0].id, false)">
    <i class="fa fa-sort-amount-desc" aria-hidden="true"></i> Sort Desc
  </ng-template>
  <ng-template *ngIf="getItemsFromGroups().length !== 1" contextMenuItem (execute)="hideClicked($event.item)">
    <i class="fa fa-eye-slash" aria-hidden="true"></i> Hide
  </ng-template>
  <ng-template  *ngIf="hidenColums.length !== 0" contextMenuItem (execute)="hideClicked($event.item, 'all')">
    <i class="fa fa-eye" style="margin-left:4px" aria-hidden="true"></i> Show All
  </ng-template>
</context-menu>

