<div class="container-fluid" id="filters" style="padding: 0px">
  <div class="col-sm-3" style="padding-left: 5px">
    <label>Organisation Units</label>

    <div class="tree-input" >
      <div>
        <div class="show_items" (click)="displayOrgTree()">
      <span *ngFor="let item of card_selected_orgunits" class="selected-item ng-binding ng-scope">
        {{ item.name }}
      </span>
          <span class="no-selection"*ngIf="card_selected_orgunits.length == 0 && !card_orgunit_tree_config.loading">{{ card_orgunit_tree_config.placeholder }}</span>
          <span class="glyphicon glyphicon-triangle-bottom pull-right" *ngIf="!card_orgunit_tree_config.loading"></span>
          <span *ngIf="card_orgunit_tree_config.loading">{{ card_orgunit_tree_config.loading_message }}</span>
        </div>
        <div class="tree-view" [ngClass]="{'hiddenTree':showOrgTree}" id="tree_view">
          <div class="search-area">
            <form *ngIf="!card_orgunit_tree_config.loading && card_orgunit_tree_config.show_search" style="border-bottom: solid 1px blanchedalmond;">
              <input #filter (keyup)="filterNodes(filter.value, orgtree)" placeholder="{{ card_orgunit_tree_config.search_text }}" class="search_field"/>

            </form>
          </div>
          <div *ngIf="card_orgunit_tree_config.loading">{{ card_orgunit_tree_config.loading_message }}</div>
          <div class="tree-area" *ngIf="!card_orgunit_tree_config.loading">
            <Tree
              #orgtree
              [nodes]="card_organisationunits"
              [focused]="true"
              [options]="customTemplateStringOptions"
              (onActivate)="activateOrg($event)"
              (onDeactivate)="deactivateOrg($event)"
            >
              <template #treeNodeTemplate let-node>
                <span>{{ node.data.name }}</span>
              </template>
            </Tree>
          </div>
          <div class="close-area">
            <button class="btn btn-xs pull-right" (click)="displayOrgTree()">Close</button>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="col-sm-7">
    <div class="row">
      <div class="col-sm-4">
        <label>Period Type</label>
        <select id="periodType" [(ngModel)]="card_period_type" class="form-control" style="height: 38px " (change)="changePeriodType()">
          <option value="">[ Select period type ]</option>
          <option value="Monthly">Monthly</option>
          <option value="BiMonthly">Bimonthly</option>
          <option value="Quarterly">Quarterly</option>
          <option value="SixMonthly">Six-monthly</option>
          <option value="SixMonthlyApril">Six-monthly April</option>
          <option value="Yearly">Yearly</option>
          <option value="FinancialApril">Financial-April</option>
          <option value="FinancialJuly">Financial-July</option>
          <option value="FinancialOct">Financial-Oct</option>
        </select>
      </div>
      <div class="col-sm-4">
        <label>Selected Period</label>

        <div class="tree-input" >
          <div>
            <div class="show_items" (click)="displayPerTree()">
      <span *ngFor="let item of card_selected_periods" class="selected-item ng-binding ng-scope">
        {{ item.name }}
      </span>
              <span class="no-selection"*ngIf="card_selected_periods.length == 0 && !card_period_tree_config.loading">{{ card_period_tree_config.placeholder }}</span>
              <span class="glyphicon glyphicon-triangle-bottom pull-right" *ngIf="!card_period_tree_config.loading"></span>
              <span *ngIf="card_period_tree_config.loading">{{ card_period_tree_config.loading_message }}</span>
            </div>
            <div class="tree-view" [ngClass]="{'hiddenTree':showPerTree}">
              <div class="search-area">
                <form *ngIf="!card_period_tree_config.loading && card_period_tree_config.show_search" style="border-bottom: solid 1px blanchedalmond;">
                  <input #filter (keyup)="filterNodes(filter.value, pertree)" placeholder="{{ card_period_tree_config.search_text }}" id="search_field"/>

                </form>
              </div>
              <div *ngIf="card_period_tree_config.loading">{{ card_period_tree_config.loading_message }}</div>
              <div class="tree-area" *ngIf="!card_period_tree_config.loading">
                <Tree
                  #pertree
                  [nodes]="card_periods"
                  [focused]="true"
                  [options]="customTemplateStringOptions"
                  (onActivate)="activatePer($event)"
                  (onDeactivate)="deactivatePer($event)"
                >
                  <template #treeNodeTemplate let-node>
                    <span>{{ node.data.name }}</span>
                  </template>
                </Tree>
              </div>
              <div class="close-area">
                <button class="btn btn-xs pull-right" (click)="displayPerTree()">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <label>&nbsp;</label>
        <div class="btn-group" style="width: 100%">
          <button type="button" class="btn btn-default" style="height: 38px" (click)="pushPeriodForward()">>> year</button>
          <button type="button" class="btn btn-default" style="height: 38px" (click)="pushPeriodBackward()"><< year</button>
        </div>
      </div>
    </div>

  </div>
  <div class="col-sm-2">
    <label>&nbsp;&nbsp;</label>
    <div>
      <button type="button" class="btn btn-default pull-right"  style="height: 38px" (click)="updateChart()">Update</button>
      <button type="button" class="btn btn-default pull-right"  style="height: 38px" (click)="downloadCSV()">
        <span class="glyphicon glyphicon-save-file"></span>  CSV
      </button>
      <button type="button" class="btn btn-default pull-right"  style="height: 38px" (click)="browserPrint()">
        <span class="glyphicon glyphicon-print"></span>
      </button>
    </div>
  </div>

</div>

<div class="container-fluid" style="height: 440px; overflow-y: auto">
  <div *ngIf="loading">
    <p style="text-align: center">
      <img src="loading.gif" style="padding-top: 80px; height: 190px;">
    </p>
  </div>
  <div [ng2-highcharts]="chartData" *ngIf="visualizer_config.type == 'chart' && !loading"></div>
  <table class="table table-bordered" *ngIf="visualizer_config.type == 'table' && !loading">
    <thead>
    <tr *ngFor="let header of tableData.headers">
      <th *ngFor="let table_column of tableData.columns"></th>
      <th *ngFor="let header_column of header.items" [colSpan]="header_column.span" style="text-align: center">
        {{ header_column.name }}
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of tableData.rows">
      <td *ngFor="let header_column of row.items" style="text-align: center;vertical-align: middle" [attr.rowspan]="header_column.row_span">
        {{ header_column.val }}
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="container-fluid footer">
    <p style="margin: 3px">
      <a (click)="updateIndicatorCard(indicator,icon.name)" *ngFor="let icon of icons" title="{{ icon.name }}" class="btn btn-small btn-info" style="background-color: #DDD; border-color: #5BC0DE;border-radius:50%;padding-bottom: 8px; padding-top: 10px;padding-left: 10px;margin-right: 2px;"><img src="assets/img/{{icon.image}}" style="height: 25px;width: 25px"/></a>
      <a (click)="downloadCSV()" title="Download Excel" class="btn btn-small btn-info" style="background-color: #DDD; border-color: #5BC0DE; border-radius:50%;padding-bottom: 8px; padding-top: 10px;padding-left: 10px;margin-right: 2px;"><img src="assets/img/cvs.jpg" style="height: 25px;width: 25px"/></a>
      <a (click)="updateIndicatorCard(indicator,'info')"  title="card details" class="btn btn-small btn-info" style="background-color: #DDD; border-color: #5BC0DE; border-radius:50%;padding-bottom: 8px; padding-top: 10px;padding-left: 10px;margin-right: 2px;"><img src="assets/img/inficon.png" style="height: 25px;width: 25px"/></a>
      <a (click)="switchXandY(indicator)"  title="Switch X and Y axis" class="btn btn-small btn-info" style="background-color: #DDD; border-color: #5BC0DE; border-radius:50%;padding-bottom: 8px; padding-top: 10px;padding-left: 10px;margin-right: 2px;"><span class="glyphicon glyphicon-sort" style="height: 25px;width: 25px"></span></a>
      <button type="button" class="btn btn-default pull-right" (click)="removeModel()">Close</button>
    </p>
</div>
