<div class="container-fluid" style="padding-left: 0px">
  <div class="col-sm-2" style="padding-left: 0px">
    <img src="icon.png"> <span style="font-size: 15px"> Score Card</span>
  </div>
  <div class="col-sm-8">
    <h3 class="text-center" style="margin-top: 0px"><small>Create a new scorecard</small></h3>
  </div>
  <div class="col-sm-2" style="margin-top: 14px">
    <button class="btn btn-default btn-sm pull-right" [routerLink]="['']"><span class="glyphicon glyphicon-home"></span> home</button>
  </div>
</div>
<div class="container-fluid no-left-padding" style="border-top: 1px solid blanchedalmond; padding-top: 8px">
  <!--sample score card-->
  <table class="table table-bordered" style="margin-bottom: 3px">
    <tr>
      <th>
        <button class="btn btn-xs" *ngIf="need_for_group">Add Group</button>
      </th>
      <th
        style="font-size: 9px; "
        *ngFor="let indicator_holder_group of scorecard.data.data_settings.indicator_holder_groups"
        [attr.colspan]="indicator_holder_group.indicator_holder_ids.length"
        class="sans-pro"
        [ngClass]="{'current':is_current_group(indicator_holder_group)}"
      >
        {{ indicator_holder_group.name }}
      </th>
    </tr>
    <tr>
      <th style="vertical-align: bottom">
        <button class="btn btn-xs" *ngIf="need_for_indicator" (click)="enableAddIndicator()">Add Indicator</button>
      </th>
      <th *ngFor="let indicator of getItemsFromGroups()" style="font-size: 10px;width: 70px;cursor: pointer" class="sans-pro"
          title="Click to update {{ getIndicatorTitle(indicator) }}"
          [ngClass]="{'current':is_current_indicator(indicator)}"
          (click)="updateIndicator(indicator)">
        {{ getIndicatorTitle(indicator) }}
      </th>
    </tr>
    <tr>
      <td style="vertical-align: bottom; padding: 0px">
        Organisation Unit
      </td>
      <th *ngFor="let indicator of getItemsFromGroups()"
          style="font-size: 10px;width: 70px; cursor: pointer; padding: 0px;line-height: 10%"
          class="sans-pro" [ngClass]="{'current':is_current_indicator(indicator)}"
          title="Click to Update {{ getIndicatorTitle(indicator) }}"
          (click)="updateIndicator(indicator)">
        <svg *ngIf="indicator.indicators.length == 2" viewbox="0 0 70 35" width="70" height="35">
          <polygon points="0 0 70 0 70 0 0 35" [attr.fill]="assignBgColor(indicator.indicators[0],indicator.indicators[0].value)" style="stroke:#CAC0C0;stroke-width:0.4"/>
          <text fill="#000" x="3" y="20" font-size="11" font-family="Source Sans Pro">
            <tspan>{{ indicator.indicators[0].value }}</tspan>
          </text>
          <!--second triangle-->
          <polygon points="0 35 70 0 70 35 0 35" [attr.fill]="assignBgColor(indicator.indicators[1],indicator.indicators[1].value)" style="stroke:#CAC0C0;stroke-width:0.4"/>
          <!--number for the second triangle-->
          <text fill="#000" x="48" y="20" font-size="11" font-family="Source Sans Pro">
            <tspan>{{ indicator.indicators[1].value }}</tspan>
          </text>
        </svg>

        <!--if there is only one indicator to display-->
        <svg *ngIf="indicator.indicators.length == 1" viewbox="0 0 90 35" width="90" height="35">
          <!--full box to cover all area-->
          <polygon points="0 0 90 0 90 35 0 35" [attr.fill]="assignBgColor(indicator.indicators[0],indicator.indicators[0].value)"/>
          <text fill="#000" x="30" y="20" font-size="11" font-family="Source Sans Pro">
            <tspan>{{ indicator.indicators[0].value }}</tspan>
          </text>
        </svg>
      </th>
    </tr>
  </table>
</div>
<div class="container-fluid" style="padding-left: 0px; font-size: 11px">

  <!--basic details of the scorecard-->
  <div class="col-sm-3 no-left-padding1">
    <div class="thumbnail scorecard_details">
      <div class="form-group">
        <label for="title" style="padding-top: 3px">Title</label>
        <input type="text" class="form-control input-sm" id="title" placeholder="Title" style="height: 25px; margin-top: 5px" [(ngModel)]="scorecard.data.header.title">
      </div>
      <p class="help-block">Scorecard title.</p>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control input-sm" id="description" placeholder="Scorecard description" [(ngModel)]="scorecard.data.header.description"></textarea>
      </div>
      <p class="help-block">Scorecard description</p>
      <div class="form-group">
        <label>Show</label>
        <div class="row">
          <div class="col-sm-6">
            <div class="checkbox">
              <label>
                <input type="checkbox" [(ngModel)]="scorecard.data.header.show_legend_definition"> Legend
              </label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="checkbox">
              <label>
                <input type="checkbox" [(ngModel)]="scorecard.data.show_score"> Score
              </label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="checkbox">
              <label>
                <input type="checkbox" [(ngModel)]="scorecard.data.show_rank"> rank
              </label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="checkbox">
              <label>
                <input type="checkbox" [(ngModel)]="scorecard.data.header.show_arrows_definition"> arrows
              </label>
            </div>
          </div>
        </div>
      </div>
      <p class="help-block">Add arrows to show data comparison with last period</p>
      <!--legend definition-->
      <div class="row">
        <label>Legend Definition</label>
        <div *ngFor="let legend of scorecard.data.legendset_definitions">
          <div class="col-sm-3" style="padding-right: 2px"><input  style="height: 25px" [(colorPicker)]="legend.color" [style.background]="legend.color" [(ngModel)]="legend.color" class="form-control color-input input-sm"/></div>
          <div class="col-sm-9" style="padding-left: 2px"><input [(ngModel)]="legend.definition" class="form-control color-input input-sm" style="height: 25px"/></div>
        </div>
      </div>

    </div>
  </div>

  <!--Group selection-->
  <div class="col-sm-2 no-left-padding1">
    <div class="thumbnail scorecard_details">
      <!--<h4 style="margin-top: 0px;margin-bottom: 1px">Data Type</h4>-->
      <div class="form-group">
        <select class="form-control input-sm" style="height: 25px"  #t (change)="switchType(t.value)">
          <option value="indicators">Indicators</option>
          <option value="dataElements">Data Elements</option>
          <option value="Completeness">Completeness</option>
          <option value="Timeliness">Timeliness</option>
        </select>
      </div>
      <img src="loading.gif" style="height: 70px; padding-top: 20px" *ngIf="!done_loading_groups">
      <div class="form-group" *ngIf="done_loading_groups">
        <input type="text" class="form-control input-sm" placeholder="Search by name" style="height: 25px; margin-top: 3px" [(ngModel)]="groupQuery">
      </div>
      <ul class="list-group" *ngIf="done_loading_groups">
        <li
          class="list-group-item selection_link"
          *ngFor="let group of current_groups | filterByName:groupQuery | paginate: { id: 'groups', itemsPerPage: 8, currentPage: p }"
          [ngClass]="{'listSelected': group.id == activeGroup}"
          (click)="load_list(group.id, t.value)"
        >
          {{ group.name }}
        </li>
      </ul>
      <pagination-controls  id="groups" (pageChange)="p = $event" directionLinks="true" autoHide="true"></pagination-controls>
    </div>

  </div>

  <!--item listing-->
  <div class="col-sm-2 no-left-padding1">
    <div class="thumbnail scorecard_details">
      <div *ngIf="listReady">
        <img src="loading.gif" style="height: 70px; padding-top: 20px" *ngIf="!done_loading_list">
        <div class="form-group" *ngIf="done_loading_list">
          <input type="text" class="form-control input-sm" placeholder="Search by name" style="height: 25px;" [(ngModel)]="listQuery">
        </div>
        <ul class="list-group" *ngIf="done_loading_list">
          <li
            class="list-group-item selection_link"
            *ngFor="let item of current_listing | filterByName:listQuery | paginate: { id: 'list', itemsPerPage: 8, currentPage: r }"
            (click)="load_item(item)"
          >
            {{ item.name }}
          </li>
        </ul>
        <pagination-controls  id="list" (pageChange)="r = $event" directionLinks="true" autoHide="true"></pagination-controls>
      </div>
    </div>
  </div>

  <!--item details-->
  <div class="col-sm-5 no-left-padding1" style="padding-right: 0px">
    <div class="thumbnail scorecard_details">
      <div class="row" *ngFor="let indicator of current_indicator_holder.indicators" style="border-bottom: 1px solid darkblue; padding-top: 3px">
        <div class="row" style="margin-right: 20px">
          <button class="btn btn-danger btn-xs pull-right" (click)="deleteIndicator(indicator)">
            <span class="glyphicon glyphicon-trash" ></span>
          </button>
        </div>
        <div class="col-sm-7">
          <div class="row" style="padding-bottom: 5px">
            <div class="col-sm-3">
              <label class="sans-pro lebal">Name:</label>
            </div>
            <div class="col-sm-9">
              <input [value]="indicator.name" class="form-control input-sm" disabled/>
            </div>
          </div>
          <div class="row" style="padding-bottom: 5px">
            <div class="col-sm-3">
              <label class="sans-pro lebal">Title:</label>
            </div>
            <div class="col-sm-9">
              <input [(ngModel)]="indicator.title" class="form-control input-sm"/>
            </div>
          </div>
          <div class="row" style="padding-bottom: 5px">
            <div class="col-sm-3">
              <label class="sans-pro lebal">Weight:</label>
            </div>
            <div class="col-sm-9">
              <input type="number" min="0" max="200" [(ngModel)]="indicator.weight" class="form-control input-sm" [disabled]="!scorecard.data.show_score"/>
            </div>
          </div>
          <div class="row" style="padding-bottom: 5px">
            <div class="col-sm-3">
              <label class="sans-pro lebal">Effective Gap:</label>
            </div>
            <div class="col-sm-3">
              <input type="number" min="0" [(ngModel)]="indicator.arrow_settings.effective_gap" class="form-control input-sm" [disabled]="!indicator.arrow_settings.display"/>
            </div>
            <div class="col-sm-4">
              <label class="sans-pro lebal">Display arrows:</label>
            </div>
            <div class="col-sm-2">
              <input type="checkbox" [(ngModel)]="indicator.arrow_settings.display" >
            </div>
          </div>
          <div class="row" style="padding-bottom: 5px">
            <div class="col-sm-4">
              <label class="sans-pro lebal">High is good:</label>
            </div>
            <div class="col-sm-2">
              <input type="checkbox" [(ngModel)]="indicator.high_is_good" >
            </div>

            <div class="col-sm-4">
              <label class="sans-pro lebal">Show Colours:</label>
            </div>
            <div class="col-sm-2">
              <input type="checkbox" [(ngModel)]="indicator.legend_display" >
            </div>
          </div>
        </div>
        <!--Legend set definition-->
        <div class="col-sm-5">
          <div *ngFor="let legend of indicator.legendset; let i = index;">
            <div class="row" style="padding-top: 2px">
              <div class="col-sm-10">
                <label class="sans-pro lebal">{{ scorecard.data.legendset_definitions[i].definition }}</label>
              </div>
              <div class="col-sm-1" [style.background-color]="scorecard.data.legendset_definitions[i].color">&nbsp;</div>
            </div>

            <div class="row">
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-sm-3"><label class="sans-pro lebal">Min</label></div>
                  <div class="col-sm-9">
                    <input type="text" [(ngModel)]="legend.min" class="form-control input-sm" [disabled]="!indicator.legend_display">
                  </div>
                </div>

              </div>
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-sm-3"><label class="sans-pro lebal">Max</label></div>
                  <div class="col-sm-9">
                    <input type="text" [(ngModel)]="legend.max" class="form-control input-sm" [disabled]="!indicator.legend_display">
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <span class="help-block" *ngIf="current_indicator_holder.indicators.length != 0">If you want to have two data items in the same column just select the second data item from the list on the left</span>
      <button class="btn btn-xs btn-default" (click)="enableAddIndicator()" *ngIf="current_indicator_holder.indicators.length != 0">Done</button>
    </div>
  </div>
</div>


<div class="container-fluid no-left-padding">
  <button class="btn btn-sm btn-info pull-right" style="margin-left: 5px"
          [disabled]="scorecard.data.data_settings.indicator_holders.length == 0 || scorecard.data.header.title == '' || scorecard.data.header.description == ''"
          (click)="saveScoreCard()"
          *ngIf="!saving_scorecard">
    Update
  </button>
  <button class="btn btn-xs btn-warning pull-right" style="margin-top: 8px" (click)="cancelCreate()" *ngIf="!saving_scorecard">Cancel</button>
  <h5 class="pull-right" *ngIf="saving_scorecard"><img src="loading.gif" style="height: 50px;"> Saving score card Information, Please wait...</h5>
  <h5 class="pull-right text-danger" *ngIf="saving_error">Something went wrong, Saving score card Information failed</h5>
</div>
