<div class="container-fluid" style="padding-left: 5px">
  <div class="col-sm-2" style="padding-left: 0px" [routerLink]="['']">
    <img src="scorecard.svg" style="height: 58px; width: 48px"> <span style="font-size: 15px"> Score Card</span>
  </div>
  <div class="col-sm-8">
    <h3 class="text-center" style="margin-top: 0px"><small>Update {{ scorecard.data.header.title }}</small></h3>
  </div>
  <div class="col-sm-2" style="margin-top: 14px">
    <button class="btn btn-default btn-sm pull-right" [routerLink]="['']"><span class="glyphicon glyphicon-home"></span> home</button>
  </div>
</div>

<!--sample score card-->
<div class="container-fluid no-left-padding" style="border-top: 1px solid blanchedalmond; padding-top: 8px">
  <div [innerHTML]="scorecard.data.header.template.content | safeHtml"></div>
  <table class="table table-bordered" style="margin-bottom: 3px">
    <tr>
      <th></th>
      <th
        style="font-size: 9px; "
        *ngFor="let indicator_holder_group of scorecard.data.data_settings.indicator_holder_groups"
        [attr.colspan]="indicator_holder_group.indicator_holder_ids.length"
        class="sans-pro"
        [ngClass]="{'current':is_current_group(indicator_holder_group)}"
      >
        <input type="text" [(ngModel)]="indicator_holder_group.name" class="group-text">
        <span *ngIf="indicator_holder_group.id != 1 && !deleting[indicator_holder_group.id]"
              class="glyphicon glyphicon-trash text-danger"
              style="cursor: pointer; padding-left: 5px"
              (click)="deleting[indicator_holder_group.id] = true"
        ></span>
        <p *ngIf="indicator_holder_group.id != 1 && deleting[indicator_holder_group.id]">
          Please Confirm, indicators will be deleted too.<br>
          <button class="btn btn-xs btn-warning" (click)="deleting[indicator_holder_group.id] = false">cancel</button>
          <button class="btn btn-xs btn-danger" (click)="deleteGroup(indicator_holder_group)">delete</button>
        </p>
      </th>
      <th style="width: 60px">
        <button class="btn btn-xs" *ngIf="need_for_group" (click)="createGroup()">
          <span class="glyphicon-plus"></span> Add
        </button>
      </th>
    </tr>
    <tr>
      <th style="vertical-align: bottom"></th>
      <td *ngFor="let indicator of getItemsFromGroups()" style="font-size: 10px;width:90px;max-width: 90px;overflow-wrap: break-word;cursor: pointer;" class="sans-pro"
          title="Click to update {{ getIndicatorTitle(indicator) }}"
          [ngClass]="{'current':is_current_indicator(indicator)}"
          (click)="updateIndicator(indicator)">
        {{ getIndicatorTitle(indicator) }}
      </td>
      <th style="width: 60px">
        <button class="btn btn-xs" *ngIf="need_for_indicator" (click)="enableAddIndicator()">
          <span class="glyphicon-plus"></span> Add</button>
      </th>
    </tr>
    <tr>
      <td style="vertical-align: bottom; padding: 0px">
        Organisation Unit
      </td>
      <th *ngFor="let indicator of getItemsFromGroups()"
          style="font-size: 10px;max-width: 90px;overflow-wrap: break-word; cursor: pointer; padding: 0px;line-height: 10%"
          class="sans-pro" [ngClass]="{'current':is_current_indicator(indicator)}"
          title="Click to Update {{ getIndicatorTitle(indicator) }}"
          (click)="updateIndicator(indicator)">
        <svg *ngIf="indicator.indicators.length == 2" viewbox="0 0 90 35" width="90" height="35">
          <polygon points="0 0 90 0 90 0 0 35" [attr.fill]="assignBgColor(indicator.indicators[0],indicator.indicators[0].value)" style="stroke:#CAC0C0;stroke-width:0.4"/>
          <text fill="#000" x="3" y="18" font-size="11" font-family="Source Sans Pro">
            <tspan>{{ indicator.indicators[0].value }}</tspan>
          </text>
          <!--second triangle-->
          <polygon points="0 35 90 0 90 35 0 35" [attr.fill]="assignBgColor(indicator.indicators[1],indicator.indicators[1].value)" style="stroke:#CAC0C0;stroke-width:0.4"/>
          <!--number for the second triangle-->
          <text fill="#000" x="54" y="22" font-size="11" font-family="Source Sans Pro">
            <tspan>{{ indicator.indicators[1].value }}</tspan>
          </text>
        </svg>

        <!--if there is only one indicator to display-->
        <svg *ngIf="indicator.indicators.length == 1" viewbox="0 0 90 35" width="90" height="35">
          <!--full box to cover all area-->
          <polygon points="0 0 90 0 90 35 0 35" [attr.fill]="assignBgColor(indicator.indicators[0],indicator.indicators[0].value)"/>
          <text fill="#000" x="3" y="18" font-size="11" font-family="Source Sans Pro">
            <tspan>{{ indicator.indicators[0].value }}</tspan>
          </text>
        </svg>
      </th>
      <th style="width: 60px">

      </th>
    </tr>
    <tr *ngFor="let label of scorecard.data.additional_labels">
      <th>{{ label }}</th>
      <th *ngFor="let indicator of getItemsFromGroups()"
          style="font-size: 10px;max-width: 90px;overflow-wrap: break-word; cursor: pointer; line-height: 80%"
          class="sans-pro" [ngClass]="{'current':is_current_indicator(indicator)}">
        {{ getIndicatorLabel( indicator,label ) }}
      </th>
      <th style="width: 60px">

      </th>
    </tr>
  </table>
</div>

<div class="container-fluid" style="padding-left: 0px; font-size: 11px; margin-top: 3px; margin-bottom: 3px"
     *ngIf="scorecard.data.data_settings.indicator_holders.length == 0 || scorecard.data.header.title == '' || scorecard.data.header.description == ''">
  <span class="text-muted">Write the title, Description and start by picking indicators for your score card.</span>
</div>

<div class="container-fluid" style="padding-left: 0px; font-size: 11px; margin-top: 3px; margin-bottom: 3px" *ngIf="someErrorOccured">
  <div class="alert alert-danger" style="margin: 0px; padding: 10px" role="alert">Make sure to write the title, Description and pick at least one indicators for your score card.</div>
</div>

<div class="container-fluid" style="padding-left: 0px; font-size: 11px">

  <!--basic details of the scorecard-->
  <div class="col-sm-3 no-left-padding1">
    <div class="thumbnail scorecard_details">
      <div class="form-group">
        <label for="title" style="padding-top: 3px">Title</label>
        <input type="text" class="form-control input-sm" #title id="title" placeholder="Title" style="height: 25px; margin-top: 5px" [(ngModel)]="scorecard.data.header.title">
      </div>
      <p class="help-block">Scorecard title. <a class="btn btn-xs btn-default" (click)="showTextEditor()">custom header</a></p>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control input-sm" #description id="description" placeholder="Scorecard description" [(ngModel)]="scorecard.data.header.description"></textarea>
      </div>
      <p class="help-block">Scorecard description</p>
      <div class="form-group">
        <label>Show</label>
        <div>
          <div class="col-sm-6" style="padding-left: 0px">
            <div class="checkbox">
              <label title="Show legend definition">
                <input type="checkbox" [(ngModel)]="scorecard.data.header.show_legend_definition"> Legend
              </label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="checkbox">
              <label title="show score for each organisation unit">
                <input type="checkbox" [(ngModel)]="scorecard.data.show_score"> Score
              </label>
            </div>
          </div>
          <div class="col-sm-6"  style="padding-left: 0px">
            <div class="checkbox">
              <label title="Show rank of each organisation unit based on score">
                <input type="checkbox" [(ngModel)]="scorecard.data.show_rank"> rank
              </label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="checkbox">
              <label title="show arrows to compare with last period">
                <input type="checkbox" [(ngModel)]="scorecard.data.header.show_arrows_definition"> arrows
              </label>
            </div>
          </div>
        </div>

      </div>
      <!--legend definition-->
      <div class="form-group">
        <label>Legend Definition</label>
        <div *ngFor="let legend of scorecard.data.legendset_definitions" class="">
          <div class="col-sm-3" style="padding-right: 2px;padding-left: 2px"><input  style="height: 25px" [(colorPicker)]="legend.color" [style.background]="legend.color" [(ngModel)]="legend.color" class="form-control color-input input-sm"/></div>
          <div class="col-sm-9" style="padding-left: 2px;padding-right: 2px"><input [(ngModel)]="legend.definition" class="form-control color-input input-sm" style="height: 25px"/></div>
        </div>
      </div>
      <!--additional labels-->
      <div class="form-group" >
        <label title="this will be used to add additional information about the scorecard item (eg. source of data)" style="margin-top: 5px">Additional labels</label>
        <div class="col-sm-10" style="padding-left: 5px"><input class="form-control input-sm" style="height: 25px" [(ngModel)]="newLabel"></div>
        <div class="col-sm-2"><button title="click to add new label" class="btn btn-xs btn-success pull-right" style="-webkit-border-radius:50%;-moz-border-radius:50%;border-radius: 50%;" (click)="addAditionalLabel()">
          <span class="glyphicon glyphicon-ok"></span>
        </button> </div>
        <div class="container-fluid" style="padding-left: 5px" *ngFor="let label of scorecard.data.additional_labels">
          <div class="col-sm-10" style="padding: 0px">{{ label }}</div>
          <div class="col-sm-2"><button title="click to delete {{ label }}" class="btn btn-xs btn-danger pull-right" style="-webkit-border-radius:50%;-moz-border-radius:50%;border-radius: 50%;" (click)="deleteAdditionalLabel(label)">
            <span class="glyphicon glyphicon-trash"></span>
          </button> </div>
        </div>
      </div>
    </div>

    </div>

  <!--Group selection-->
  <div class="col-sm-2 no-left-padding1">
    <div class="thumbnail scorecard_details">
      <!--<h4 style="margin-top: 0px;margin-bottom: 1px">Data Type</h4>-->
      <div class="form-group">
        <select class="form-control input-sm" style="height: 25px"  #f (change)="switchType(f.value)">
          <option value="indicators">Indicators</option>
          <option value="dataElements">Data Elements</option>
          <option value="datasets">Data Sets</option>
          <option value="programs">Program Indicators</option>
          <option value="event">Event Data Items </option>
        </select>
      </div>
      <img src="balls-4.svg" style="height: 70px; padding-top: 20px" *ngIf="!done_loading_groups">
      <div class="form-group" *ngIf="done_loading_groups">
        <input type="text" class="form-control input-sm" placeholder="Search by name" style="height: 25px; margin-top: 3px" [(ngModel)]="groupQuery">
      </div>
      <ul class="list-group" *ngIf="done_loading_groups">
        <li
          class="list-group-item selection_link"
          *ngFor="let group of current_groups | filterByName:groupQuery | paginate: { id: 'groups', itemsPerPage: 8, currentPage: p }"
          [ngClass]="{'listSelected': group.id == activeGroup}"
          (click)="load_list(group.id, f.value)"
        >
          {{ group.name }}
        </li>
      </ul>
      <pagination-controls  id="groups" (pageChange)="p = $event" directionLinks="true" autoHide="true"></pagination-controls>
    </div>

  </div>

  <!--item listing-->
  <div class="col-sm-2 no-left-padding1">
    <div class="thumbnail scorecard_details">
      <div *ngIf="listReady">
        <img src="balls-4.svg" style="height: 90px; padding-top: 20px" *ngIf="!done_loading_list">
        <h5 class="text-danger" *ngIf="error_loading_list.occurred">{{ error_loading_list.message }}</h5>
        <div class="form-group" *ngIf="done_loading_list">
          <input type="text" class="form-control input-sm" placeholder="Search by name" style="height: 25px;" [(ngModel)]="listQuery">
        </div>
        <p *ngIf="done_loading_list && current_listing.length == 0">No items for a selected group</p>
        <ul class="list-group" *ngIf="done_loading_list">
          <li
            class="list-group-item selection_link"
            *ngFor="let item of current_listing | filterByName:listQuery | paginate: { id: 'list', itemsPerPage: 8, currentPage: r }"
            [ngClass]="{'already_selected': indicatorExist(scorecard.data.data_settings.indicator_holders, item)}"
            (click)="load_item(item)"
          >
            <span class="glyphicon glyphicon-ok-circle text-success" *ngIf="indicatorExist(scorecard.data.data_settings.indicator_holders, item)"></span> {{ item.name }}
          </li>
        </ul>
        <pagination-controls  id="list" (pageChange)="r = $event" directionLinks="true" autoHide="true"></pagination-controls>
      </div>
    </div>
  </div>

  <!--item details-->
  <div class="col-sm-5 no-left-padding1" style="padding-right: 0px">
    <div class="thumbnail scorecard_details">
      <div class="row" *ngFor="let indicator of current_indicator_holder.indicators" style="border-bottom: 1px solid #B3B3B3; padding-top: 3px">
        <div class="row" style="margin-right: 20px">
          <button class="btn btn-danger btn-xs pull-right" (click)="deleteIndicator(indicator)">
            <span class="glyphicon glyphicon-trash" ></span>
          </button>
        </div>
        <div class="col-sm-7">
          <div style="padding-bottom: 5px">
            <div class="col-sm-3">
              <label class="sans-pro lebal">Name:</label>
            </div>
            <div class="col-sm-9">
              <input [value]="indicator.name" class="form-control input-sm" disabled/>
            </div>
          </div>
          <div style="padding-bottom: 5px">
            <div class="col-sm-3">
              <label class="sans-pro lebal">Title:</label>
            </div>
            <div class="col-sm-9">
              <input [(ngModel)]="indicator.title" class="form-control input-sm"/>
            </div>
          </div>
          <div  style="padding-bottom: 5px">
            <div class="col-sm-3">
              <label class="sans-pro lebal">Weight:</label>
            </div>
            <div class="col-sm-9">
              <input type="number" min="0" max="200" [(ngModel)]="indicator.weight" class="form-control input-sm" [disabled]="!scorecard.data.show_score"/>
            </div>
          </div>
          <div  style="padding-bottom: 5px">
            <div class="col-sm-3">
              <label class="sans-pro lebal">Effective Gap:</label>
            </div>
            <div class="col-sm-3">
              <input type="number" min="0" [(ngModel)]="indicator.arrow_settings.effective_gap" class="form-control input-sm" [disabled]="!indicator.arrow_settings.display"/>
            </div>
            <div class="col-sm-4">
              <label class="sans-pro lebal">Display arrows:</label>
            </div>
            <div class="col-sm-2">
              <input type="checkbox" [(ngModel)]="indicator.arrow_settings.display" >
            </div>
          </div>
          <div style="padding-bottom: 5px">
            <div class="col-sm-4">
              <label class="sans-pro lebal">High is good:</label>
            </div>
            <div class="col-sm-2">
              <input type="checkbox" [(ngModel)]="indicator.high_is_good" >
            </div>

            <div class="col-sm-4">
              <label class="sans-pro lebal">Show Colours:</label>
            </div>
            <div class="col-sm-2">
              <input type="checkbox" [(ngModel)]="indicator.legend_display" >
            </div>
          </div>
        </div>
        <!--Legend set definition-->
        <div class="col-sm-5" style="padding-bottom: 5px">
          <div *ngFor="let legend of indicator.legendset; let i = index;">
            <div class="row" style="padding-top: 2px">
              <div class="col-sm-12">
                <span [style.background-color]="scorecard.data.legendset_definitions[i].color">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>&nbsp;
                <label class="sans-pro lebal">{{ scorecard.data.legendset_definitions[i].definition }}</label>
              </div>

            </div>

            <div class="row">
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-sm-3"><label class="sans-pro lebal">Min</label></div>
                  <div class="col-sm-9">
                    <input type="text" [(ngModel)]="legend.min" class="form-control input-sm" [disabled]="!indicator.legend_display">
                  </div>
                </div>

              </div>
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-sm-3"><label class="sans-pro lebal">Max</label></div>
                  <div class="col-sm-9">
                    <input type="text" [(ngModel)]="legend.max" class="form-control input-sm" [disabled]="!indicator.legend_display">
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <a (click)="showBotleneckEditor(indicator)"  style="padding: 6px; margin-left: 15px" class="btn btn-xs btn-default">
          bottleneck indicators
          <span class="badge"> {{ indicator.bottleneck_indicators.length }} </span>
        </a>
        <!--additinal labels-->
        <div class="col-sm-6" *ngFor="let label of scorecard.data.additional_labels">
          <div style="padding-bottom: 5px">
            <div class="col-sm-3">
              <label class="sans-pro lebal">{{ label }}:</label>
            </div>
            <div class="col-sm-9">
              <input [(ngModel)]="indicator.additional_label_values[label]" class="form-control input-sm"/>
            </div>
          </div>
        </div>
      </div>
      <span class="help-block pull-left" *ngIf="current_indicator_holder.indicators.length != 0">If you want to have two data items in the same column just select the second data item from the list on the left</span>
      <button class="btn btn-sm btn-default pull-right" (click)="enableAddIndicator()" *ngIf="current_indicator_holder.indicators.length != 0">
        <span class="glyphicon glyphicon-plus"></span>Add
      </button>
    </div>
  </div>
</div>


<div class="container-fluid no-left-padding">
  <button class="btn btn-sm btn-info pull-right" style="margin-left: 5px"
          (click)="saveScoreCard('update')"
          *ngIf="!saving_scorecard">
    Update
  </button>
  <button class="btn btn-sm btn-warning pull-right" (click)="cancelCreate()" *ngIf="!saving_scorecard">Cancel</button>
  <h5 class="pull-right" *ngIf="saving_scorecard"><img src="balls-4.svg" style="height: 50px;"> Saving score card Information, Please wait...</h5>
  <h5 class="pull-right text-danger" *ngIf="saving_error">Something went wrong, Saving score card Information failed</h5>
</div>


<div class="indicator_details" [ngClass]="{'hiddendiv': !show_editor}">
  <div class="indicator_dialog">
    <div class="indicator-content">
      <span class="glyphicon glyphicon-remove pull-right" style="cursor: pointer" (click)="showTextEditor()"></span>
      <div style="padding: 15px">
        <textarea id="my-editor-id" #texteditor></textarea>
        <button class="btn btn-default pull-right" (click)="showTextEditor()"> <span class="glyphicon glyphicon-ok"></span> Done </button>
      </div>

    </div>
  </div>
</div>

<!--model for bottleneck indicator-->
<div class="indicator_details" [ngClass]="{'hiddendiv': !show_bottleneck_indicators}">
  <div class="indicator_dialog">
    <div class="indicator-content">
      <h4 *ngIf="bottleneck_card.indicator_ready" class="text-center"> Bottleneck Indicators For {{ bottleneck_card.indicator.name }}
        <span class="glyphicon glyphicon-remove pull-right" style="cursor: pointer" (click)="showBotleneckEditor(bottleneck_card.indicator)"></span>
      </h4>

      <div style="padding: 15px" class="row">

        <!--indicator groups-->
        <div class="col-sm-4">
          <div class="thumbnail bottleneck_scorecard_details">
            <!--<h4 style="margin-top: 0px;margin-bottom: 1px">Data Type</h4>-->
            <div class="form-group">
              <select class="form-control input-sm" style="height: 25px"  #t (change)="switchBottleneckType(t.value)">
                <option value="indicators">Indicators</option>
                <option value="dataElements">Data Elements</option>
                <option value="datasets">Data Sets</option>
                <option value="programs">Program Indicators</option>
                <option value="event">Event Data Items </option>
              </select>
            </div>
            <img src="balls-4.svg" style="height: 70px; padding-top: 20px" *ngIf="!bottleneck_card.done_loading_groups">
            <div class="form-group" *ngIf="bottleneck_card.done_loading_groups">
              <input type="text" class="form-control input-sm" placeholder="Search by name" style="height: 25px; margin-top: 3px" [(ngModel)]="bottleneck_card.groupQuery">
            </div>
            <ul class="list-group" *ngIf="bottleneck_card.done_loading_groups">
              <li
                class="list-group-item selection_link"
                *ngFor="let group of bottleneck_card.current_groups | filterByName:bottleneck_card.groupQuery | paginate: { id: 'groups1', itemsPerPage: 6, currentPage: p }"
                [ngClass]="{'listSelected': group.id == bottleneck_card.activeGroup}"
                (click)="load_bottleneck_card_list(group.id, t.value)"
              >
                {{ group.name }}
              </li>
            </ul>
            <pagination-controls  id="groups1" (pageChange)="p = $event" directionLinks="true" autoHide="true"></pagination-controls>
          </div>
        </div>
        <!--indicators lists-->
        <div class="col-sm-4">
          <div class="thumbnail bottleneck_scorecard_details">
            <div *ngIf="bottleneck_card.listReady">
              <img src="balls-4.svg" style="height: 90px; padding-top: 20px" *ngIf="!bottleneck_card.done_loading_list">
              <h5 class="text-danger" *ngIf="bottleneck_card.error_loading_list.occurred">{{ bottleneck_card.error_loading_list.message }}</h5>
              <div class="form-group" *ngIf="bottleneck_card.done_loading_list">
                <input type="text" class="form-control input-sm" placeholder="Search by name" style="height: 25px;" [(ngModel)]="bottleneck_card.listQuery">
              </div>
              <p *ngIf="bottleneck_card.done_loading_list && bottleneck_card.current_listing.length == 0">No items for a selected group</p>
              <ul class="list-group" *ngIf="bottleneck_card.done_loading_list">
                <li
                  class="list-group-item selection_link"
                  *ngFor="let item of bottleneck_card.current_listing | filterByName:bottleneck_card.listQuery | paginate: { id: 'list2', itemsPerPage: 6, currentPage: r }"
                  [ngClass]="{'already_selected': botteneckIndicatorExist(item)}"
                  (click)="load_bottleneck_card_item(item)"
                >
                  <span class="glyphicon glyphicon-ok-circle text-success" *ngIf="botteneckIndicatorExist(item)"></span> {{ item.name }}
                </li>
              </ul>
              <pagination-controls  id="list2" (pageChange)="r = $event" directionLinks="true" autoHide="true"></pagination-controls>
            </div>
          </div>
        </div>
        <!--selected items list-->
        <div class="col-sm-4">
          <div class="thumbnail bottleneck_scorecard_details">
            <ul class="list-group" *ngIf="bottleneck_card.indicator_ready">
              <li
                class="list-group-item"
                *ngFor="let item of bottleneck_card.indicator.bottleneck_indicators | paginate: { id: 'list3', itemsPerPage: 6, currentPage: r }"
              >
                <a style="border-right: 1px solid cadetblue; padding-right: 8px" (click)="removeBottleneckIndicator(item)" title="Remove from list" class="remove-bottleneck"><span class="glyphicon glyphicon-trash text-danger"></span></a>
                {{ item.name }}
              </li>
            </ul>
            <pagination-controls  id="list3" (pageChange)="r = $event" directionLinks="true" autoHide="true"></pagination-controls>
          </div>
        </div>
        <button class="btn btn-default pull-right" (click)="showBotleneckEditor(bottleneck_card.indicator)"> <span class="glyphicon glyphicon-ok"></span> Done </button>
      </div>
    </div>
  </div>
</div>
