<tour-step-template></tour-step-template>
<div class="container-fluid no-print">
  <div class="row">
    <div
      class="col-md-2 col-xs-12"
      style="padding-left: 0px; cursor: pointer;"
      (click)="goToHomePage()">
      <img src="scorecard.svg" style="height: 58px; width: 48px">
      <span style="font-size: 20px" [translate]="'Score Card'"> Score Card</span>
    </div>
    <div  class="col-md-8 col-xs-12">

    </div>
    <div class="col-md-2 col-xs-12" style="margin-top: 14px">
      <button
        tourAnchor="view.home"
        class="btn btn-outline-secondary
        btn-sm pull-right cursor"
        (click)="goToHomePage()"
        style="height: 30px;margin-left: 5px">
        <i class="fa fa-home"></i>
        <span [translate]="'Home'"> home</span>
      </button>
      <div class="dropdown float-md-right" style="margin-right: 3px">
        <button style="height: 34px" class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-question-circle"></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item cursor" (click)="startTour()">Take a tour</a>
          <a class="dropdown-item cursor" [routerLink]="['/documentation']">User Manual</a>
          <a class="dropdown-item">
            <span class="cursor" (click)="switchLanguage('en')">En</span> | <span class="cursor" (click)="switchLanguage('fr')">Fr</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
