<div class="tree-input" title="Select groups that will be able to view or edit your scorecard" appClickOutside (clickOutside)="showShareTree = true">
  <div>
    <div class="show_items" (click)="displayShareTree()">
            <span *ngIf="scorecard.data.user_groups.length > 3">
          <span class="selected-item">
            {{ scorecard.data.user_groups[0].name }} selected
          </span>
              <span class="selected-item">
            {{ scorecard.data.user_groups[1].name }} selected
          </span><span class="selected-item">
            and {{ scorecard.data.user_groups.length -2 }} more
          </span>
        </span>
      <span *ngIf="scorecard.data.user_groups.length <= 3">
              <span *ngFor="let item of scorecard.data.user_groups" class="selected-item ng-binding ng-scope">
                {{ item.name }}
              </span>
            </span>
      <span class="no-selection"*ngIf="scorecard.data.user_groups.length == 0 && !group_loading">Only You</span>
      <i class="fa fa-caret-down pull-right" *ngIf="!group_loading"></i>
      <span *ngIf="group_loading">Loading user groups</span>
    </div>
    <div class="tree-view" [ngClass]="{'hiddenTree':showShareTree}">
      <div class="search-area">
        <form *ngIf="!group_loading" style="border-bottom: solid 1px blanchedalmond;">
          <input [(ngModel)]="share_filter" placeholder="Search" name="share_search_field"/>
        </form>
      </div>
      <div *ngIf="group_loading">Loading Groups</div>
      <div class="tree-area" *ngIf="!group_loading">
        <ul class="list-unstyled">
          <li  style="padding: 5px" title="this will be accessible to everyone in the system accessing the scorecard">
            <button [ngClass]="{'btn-primary' : getGroupActiveState('see',{id:'all',name:'Public'}), 'btn-outline-dark':!getGroupActiveState('see',{id:'all',name:'Public'})}" class="btn btn-sm" (click)="toogleGroup('see',{id:'all',name:'Public'})"><i class="fa fa-eye"></i></button>
            <button [ngClass]="{'btn-primary' : getGroupActiveState('edit',{id:'all',name:'Public'}), 'btn-outline-dark':!getGroupActiveState('edit',{id:'all',name:'Public'})}" class="btn btn-sm btn-outline-dark" (click)="toogleGroup('edit',{id:'all',name:'Public'})"><i class="fa fa-pencil"></i></button>
            Public
          </li>
          <li *ngFor="let group of userGroups | filterByName:share_filter" style="padding: 5px">
            <button [ngClass]="{'btn-primary': getGroupActiveState('see',group),'btn-outline-dark': !getGroupActiveState('see',group)}" class="btn btn-sm" (click)="toogleGroup('see',group)"><i class="fa fa-eye"></i></button>
            <button [ngClass]="{'btn-primary': getGroupActiveState('edit',group), 'btn-outline-dark': !getGroupActiveState('edit',group)}" class="btn btn-sm" (click)="toogleGroup('edit',group)"><i class="fa fa-pencil"></i></button>
            {{ group.name }}
          </li>
        </ul>
      </div>
      <div class="close-area">
        <button class="btn btn-outline-dark pull-right btn-sm"  (click)="displayShareTree()">
          <i class="fa fa-remove"></i> Close
        </button>
      </div>
    </div>
  </div>
</div>
