.period{
  font-size: 11px;
  cursor: pointer;
  padding-bottom: 3px;
}

.direction-arrows:hover{
  background-color: rgba(0,0,0,0.2);
}
.pointer{
  cursor: pointer;
}

.period:hover{
  font-size: 11px;
  cursor: pointer;
  transform: scale(1.001, 1.001);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.1);
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  background-color: rgba(0,0,0,0.03);
  overflow: auto;
}

.hiddenTree{
  display: none;
}


.tree-view {
  text-align: left;
  background-color: #fff;
  position: absolute;
  z-index: 999;
  /*border: 1px solid rgba(0, 0, 0, .15);*/
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  min-width: 420px;
  margin-right: 30px;
  min-height: 200px;
  padding: 10px 5px 10px 0px;
  margin-top: 38px;
}


.tree-view::-webkit-scrollbar {
  width: 1px;
}

.tree-view::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
  border-radius: 10px;
}

.tree-view::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
}

.tree-view input{
  border-radius: 2px;
  border: 1px solid #ccc;
  height: 26px;
  font-size: 14px;
  width: 100%;
  padding-left: 7px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #888;
  margin: 0 0 8px;
}


span.selected-item {
  background: inherit;
  border: 1px solid #ececec;;
  border-radius: 3px;
  padding: 3px 5px 3px 5px;
  margin-right: 2px;
  cursor: text;
  font-size: 11px;
}

.selected-item-close {
  width: 20px;
  cursor: pointer;
  font-weight: 700;
  display: inline-block;
  padding: 2px;
  text-align: center;
  font-size: xx-small;
}


.show_items{
  position: relative;
  float: left;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  border: 1px solid #c6c6c6;
  padding: 8px 8px;
  font-size: 14px;
  min-height: 35px!important;
  border-radius: 4px;
  color: #555;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  white-space: normal;
  background-color: #fff;
  background-image: linear-gradient(#fff,#f7f7f7);
  width: 420px;
  height: 34px;
}


.removeorgunit{
  cursor:pointer;
  border: 1px solid rgba(95, 158, 160, 0.26);
  padding-left: 2px;
  padding-right: 2px;
}

.show_tops{
  position: relative;
  float: left;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  border: 1px solid #c6c6c6;
  /*padding: 8px 8px;*/
  font-size: 12px;
  min-height: 35px!important;
  border-radius: 4px;
  color: #555;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  white-space: normal;
  background-color: #fff;
  background-image: linear-gradient(#fff,#f7f7f7);
  width: 7%;
  height: 35px;
}

.arrows:hover{
  transform: scale(1.001, 1.001);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.1);
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  background-color: rgba(0,0,0,0.05);
}
