<div class="container-fluid no-print" style="padding-left: 0px">
  <div class="col-sm-2" style="padding-left: 0px; cursor: pointer;" [routerLink]="['']">
    <img src="icon.png"> <span style="font-size: 15px"> Score Card</span>
  </div>
  <div class="col-sm-8">
    <h3 class="text-center" style="margin-top: 0px"><small></small></h3>
  </div>
  <div class="col-sm-2" style="margin-top: 14px;padding-right: 0px">
    <button class="btn btn-default btn-sm pull-right" [routerLink]="['']"><span class="glyphicon glyphicon-home"></span> home</button>
  </div>
</div>

<div class="container-fluid no-print" id="filters" style="padding: 0px">
  <div class="col-sm-4" style="padding-left: 5px">
    <label>Organisation Units</label>

    <div class="tree-input" >
      <div>
        <div class="show_items" (click)="displayOrgTree()">
      <span *ngFor="let item of selected_orgunits" class="selected-item ng-binding ng-scope">
        {{ item.name }}
      </span>
          <span class="no-selection"*ngIf="selected_orgunits.length == 0 && !orgunit_tree_config.loading">{{ orgunit_tree_config.placeholder }}</span>
          <span class="glyphicon glyphicon-triangle-bottom pull-right" *ngIf="!orgunit_tree_config.loading"></span>
          <span *ngIf="orgunit_tree_config.loading">{{ orgunit_tree_config.loading_message }}</span>
        </div>
        <div class="tree-view" [ngClass]="{'hiddenTree':showOrgTree}" id="tree_view">
          <div class="search-area">
            <form *ngIf="!orgunit_tree_config.loading && orgunit_tree_config.show_search" style="border-bottom: solid 1px blanchedalmond;">
              <input #filter (keyup)="filterNodes(filter.value, orgtree)" placeholder="{{ orgunit_tree_config.search_text }}" class="search_field"/>

            </form>
          </div>
          <div *ngIf="orgunit_tree_config.loading">{{ orgunit_tree_config.loading_message }}</div>
          <div class="tree-area" *ngIf="!orgunit_tree_config.loading">
            <Tree
              #orgtree
              [nodes]="organisationunits"
              [focused]="true"
              [options]="customTemplateStringOptions"
              (onActivate)="activateOrg($event)"
              (onDeactivate)="deactivateOrg($event)"
            >
              <template #treeNodeTemplate let-node>
                <span>{{ node.data.name }}</span>
              </template>
            </Tree>
          </div>
          <div class="close-area">
            <button class="btn pull-right" style="height: 30px"  (click)="displayOrgTree()">Close</button>
            <button type="button" class="btn btn-default pull-right"  style="height: 30px" (click)="loadScoreCard()">
              <span class="glyphicon glyphicon-refresh"></span>  Update
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="col-sm-4">
        <label>Selected Period</label>
        <div class="tree-input" >
          <div>
            <div class="show_items" (click)="displayPerTree()">
      <span *ngFor="let item of selected_periods" class="selected-item ng-binding ng-scope">
        {{ item.name }}
      </span>
              <span class="no-selection"*ngIf="selected_periods.length == 0 && !period_tree_config.loading">{{ period_tree_config.placeholder }}</span>
              <span class="glyphicon glyphicon-triangle-bottom pull-right" *ngIf="!period_tree_config.loading"></span>
              <span *ngIf="period_tree_config.loading">{{ period_tree_config.loading_message }}</span>
            </div>
            <div class="tree-view" [ngClass]="{'hiddenTree':showPerTree}">
              <div class="col-sm-7" style="padding-left: 0px; margin-bottom: 5px">
                <label>Period Type</label>
                <select id="periodType" [(ngModel)]="period_type" class="form-control" style="height: 30px " (change)="changePeriodType()">
                  <option value="">[ Select period type ]</option>
                  <option value="Monthly">Monthly</option>
                  <option value="BiMonthly">Bimonthly</option>
                  <option value="Quarterly">Quarterly</option>
                  <option value="SixMonthly">Six-monthly</option>
                  <option value="SixMonthlyApril">Six-monthly April</option>
                  <option value="Yearly">Yearly</option>
                  <option value="FinancialApril">Financial-April</option>
                  <option value="FinancialJuly">Financial-July</option>
                  <option value="FinancialOct">Financial-Oct</option>
                </select>
              </div>
              <div class="col-sm-5" style="padding-right: 0px; margin-bottom: 5px">
                <label>&nbsp;</label>
                <div class="btn-group" style="width: 100%">
                  <button type="button" class="btn btn-default pull-right" style="height: 30px; font-size: 11px" (click)="pushPeriodForward()">>> year</button>
                  <button type="button" class="btn btn-default pull-right" style="height: 30px; font-size: 11px;" (click)="pushPeriodBackward()"><< year</button>
                </div>
              </div>

              <div class="search-area">
                <form *ngIf="!period_tree_config.loading && period_tree_config.show_search" style="border-bottom: solid 1px blanchedalmond;">
                  <input #filter (keyup)="filterNodes(filter.value, pertree)" placeholder="{{ period_tree_config.search_text }}" id="search_field"/>

                </form>
              </div>
              <div *ngIf="period_tree_config.loading">{{ period_tree_config.loading_message }}</div>
              <div class="tree-area1" *ngIf="!period_tree_config.loading">
                <Tree
                  #pertree
                  [nodes]="periods"
                  [focused]="true"
                  [options]="customTemplateStringOptions"
                  (onActivate)="activatePer($event)"
                  (onDeactivate)="deactivatePer($event)"
                >
                  <template #treeNodeTemplate let-node>
                    <span>{{ node.data.name }}</span>
                  </template>
                </Tree>
              </div>
              <div class="close-area">
                <button class="btn pull-right" (click)="displayPerTree()" style="height: 30px">Close</button>
                <button type="button" class="btn btn-default pull-right"  style="height: 30px" (click)="loadScoreCard()">
                <span class="glyphicon glyphicon-refresh"></span>  Update
              </button>
              </div>
            </div>
          </div>
        </div>


  </div>
  <div class="col-sm-4">
    <label>&nbsp;&nbsp;</label>
    <div>
      <button type="button" class="btn btn-default pull-right"  style="height: 38px" (click)="loadScoreCard()">
        <span class="glyphicon glyphicon-refresh"></span>  Update
      </button>
      <button type="button" class="btn btn-default pull-right"  style="height: 38px" (click)="downloadCSV(orgUnit.id)">
        <span class="glyphicon glyphicon-save-file"></span>  CSV
      </button>
      <button type="button" class="btn btn-default pull-right"  style="height: 38px" (click)="browserPrint()">
        <span class="glyphicon glyphicon-print"></span> Print
      </button>
      <!--some aditional configurations-->
      <!--<button *ngIf="!loading" type="button" class="btn btn-default pull-right"  style="height: 38px" (click)="showOptions()">-->
        <!--<span class="glyphicon glyphicon-cog"></span> Options-->
      <!--</button>-->
      <div class="additional-options" [ngClass]="{'hiddenTree':showAdditionalOptions}">
        <label>Show</label>
        <ul class="list-group">
          <li class="list-group-item">
            <label>
              <input type="checkbox"> Sum
            </label>
          </li>
          <li class="list-group-item">
            <label>
              <input type="checkbox"> Average
            </label>
          </li>
          <li class="list-group-item">
            <label>
              <input type="checkbox"> Score
            </label>
          </li>
          <li class="list-group-item">
            <label>
              <input type="checkbox"> Ranks
            </label>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>

<div class="container-fluid no-print" *ngIf="loading" style="margin-top: 10px;padding-left: 5px">
  <!--<img src="loading.gif" style="height: 70px; padding-top: 20px">-->
  {{ loading_message }}

  <div class="progress">
    <div class="progress-bar" role="progressbar" [attr.aria-valuenow]="proccessed_percent" [attr.aria-valuemin]="0" [attr.aria-valuemax]="100" [style.width]="proccessed_percent+'%'">
      {{ proccessed_percent | number : '1.2-2' }}%
    </div>
  </div>
</div>

<div class="container-fluid" id="scorecard" style="padding-left: 5px;margin-top: 10px">
  <h3>{{ scorecard.data.header.title }} &nbsp;&nbsp;&nbsp; {{ orgUnit.name }} &nbsp;&nbsp;&nbsp; {{ period.name }}</h3>
  <table class="table table-bordered"
         style="margin-bottom: 3px;font-size: 9px;border: 1px solid #ddd;border-spacing: 0;border-collapse: collapse;display: table;"
  >
    <tr [ngClass]="{'hide_no_group': scorecard.data.data_settings.indicator_holder_groups.length == 1}">
      <th class="orgUnitName">

      </th>
      <th
        style="font-size: 9px; cursor: pointer"
        *ngFor="let indicator_holder_group of scorecard.data.data_settings.indicator_holder_groups"
        [attr.colspan]="indicator_holder_group.indicator_holder_ids.length"
        class="sans-pro"

        (click)="loadPreview(indicator_holder_group,null,null)"
        title="Click to analyse indicators for {{ indicator_holder_group.name }}">
        {{ indicator_holder_group.name }}
      </th>
    </tr>
    <tr>
      <th style="vertical-align: bottom">
        <input type="text" class="form-control input-sm no-print" [(ngModel)]="searchQuery" placeholer="Search">
      </th>
      <th *ngFor="let indicator of getItemsFromGroups()" style="font-size: 10px;width: 70px;cursor: pointer" class="sans-pro"
          title="Click to analyse {{ getIndicatorTitle(indicator) }}" (click)="loadPreview(null,indicator,null)">
        <img src="loader.gif" style="height: 30px" *ngIf="indicator_loading[indicator.indicators[0].id]" title="Loading old data for {{ getIndicatorTitle(indicator) }}">
        <span *ngIf="indicator_done_loading[indicator.indicators[0].id] && old_proccessed_percent != 100" class="glyphicon glyphicon-ok text-success"></span>
        {{ getIndicatorTitle(indicator) }}

      </th>
    </tr>
    <ng-container *ngFor="let current_orgunit of orgunits | filterByName:searchQuery">
      <tr style="height: 35px">
        <td style="vertical-align: bottom;font-size: 10px;cursor: pointer" class="orgUnitName" (click)="loadChildrenData(current_orgunit)">
          {{ current_orgunit.name }}
        </td>
        <td *ngFor="let indicator of getItemsFromGroups()"
            style="font-size: 10px;width: 70px; cursor: pointer; padding: 0px;line-height: 10%;"  class="sans-pro" (click)="loadPreview(null,indicator,current_orgunit.id)">
          <svg *ngIf="indicator.indicators.length == 2" viewbox="0 0 70 35" width="70" height="35">
            <polygon points="0 0 70 0 70 0 0 35" [attr.fill]="assignBgColor(indicator.indicators[0],indicator.indicators[0].values[current_orgunit.id])" style="stroke:#CAC0C0;stroke-width:0.4"/>
            <text fill="#000" x="3" y="20" font-size="11" font-family="Source Sans Pro">
              <tspan>{{ indicator.indicators[0].values[current_orgunit.id] }}</tspan>
            </text>
            <!--top arrow-->
            <path *ngIf="indicator.indicators[0].showTopArrow[current_orgunit.id]" d="M2,10H12L7,4" style="fill:black;stroke:black;stroke-width:1"/>
            <!--bottom arrow showing decrease-->
            <path *ngIf="indicator.indicators[0].showBottomArrow[current_orgunit.id]" d="M2,22H12L7,30" style="fill:black;stroke:black;stroke-width:1"/>

            <!--second triangle-->
            <polygon points="0 35 70 0 70 35 0 35" [attr.fill]="assignBgColor(indicator.indicators[1],indicator.indicators[1].values[current_orgunit.id])" style="stroke:#CAC0C0;stroke-width:0.4"/>
            <!--number for the second triangle-->
            <text fill="#000" x="48" y="20" font-size="11" font-family="Source Sans Pro">
              <tspan>{{ indicator.indicators[1].values[current_orgunit.id] }}</tspan>
            </text>
            <!--top arrow for the right triagle-->
            <path *ngIf="indicator.indicators[1].showTopArrow[current_orgunit.id]" d="M65,10H55L60,4" style="fill:black;stroke:black;stroke-width:1"/>
            <!--below arrow for the triangle-->
            <path *ngIf="indicator.indicators[1].showBottomArrow[current_orgunit.id]" d="M65,22H55L60,28" style="fill:black;stroke:black;stroke-width:1"/>
          </svg>
          <!--if there is only one indicator to display-->
          <svg *ngIf="indicator.indicators.length == 1" viewbox="0 0 90 35" width="90" height="35">
            <!--full box to cover all area-->
            <polygon points="0 0 90 0 90 35 0 35" [attr.fill]="assignBgColor(indicator.indicators[0],indicator.indicators[0].values[current_orgunit.id])"/>
            <text fill="#000" x="30" y="20" font-size="11" font-family="Source Sans Pro">
              <tspan>{{ indicator.indicators[0].values[current_orgunit.id] }}</tspan>
            </text>
            <!--top arrow-->
            <path *ngIf="indicator.indicators[0].showTopArrow[current_orgunit.id]" d="M2,10H12L7,4" style="fill:black;stroke:black;stroke-width:1"/>
            <!--bottom arrow showing decrease-->
            <path *ngIf="indicator.indicators[0].showBottomArrow[current_orgunit.id]" d="M2,22H12L7,30" style="fill:black;stroke:black;stroke-width:1"/>

          </svg>
        </td>

      </tr>
      <tr *ngIf="showSubScorecard[current_orgunit.id]">
        <td [attr.colspan]="getItemsFromGroups().length +1" style="background-color: rgba(0,0,0,0.1)">

          <!--First child scorecard-->
          <!--First child scorecard-->
          <div class="container-fluid no-print" *ngIf="subScoreCard.loading" style="margin-top: 10px;padding-left: 5px">
            <!--<img src="loading.gif" style="height: 70px; padding-top: 20px">-->
            {{ subScoreCard.loading_message }}

            <div class="progress">
              <div class="progress-bar" role="progressbar" [attr.aria-valuenow]="subScoreCard.proccessed_percent" [attr.aria-valuemin]="0" [attr.aria-valuemax]="100" [style.width]="subScoreCard.proccessed_percent+'%'">
                {{ subScoreCard.proccessed_percent | number : '1.2-2' }}%
              </div>
            </div>
          </div>

          <div class="container-fluid" id="inner_scorecard" style="padding-left: 5px;margin-top: 10px">
            <h3>{{ scorecard.data.header.title }} &nbsp;&nbsp;&nbsp; {{ current_orgunit.name }} &nbsp;&nbsp;&nbsp; {{ period.name }}
            <button class="btn btn-default btn-sm pull-right" (click)="downloadCSV(current_orgunit.id)">CSV</button>
            <button class="btn btn-warning btn-sm pull-right" (click)="closeSubUnit()">Close</button>
            </h3>
            <table class="table table-bordered"
                   style="margin-bottom: 3px;font-size: 9px;border: 1px solid #ddd;border-spacing: 0;border-collapse: collapse;display: table; background-color: rgba(0,0,0,0.05)"
            >
              <tr [ngClass]="{'hide_no_group': scorecard.data.data_settings.indicator_holder_groups.length == 1 }">
                <th class="orgUnitName">

                </th>
                <th
                  style="font-size: 9px; cursor: pointer"
                  *ngFor="let indicator_holder_group of scorecard.data.data_settings.indicator_holder_groups"
                  [attr.colspan]="indicator_holder_group.indicator_holder_ids.length"
                  class="sans-pro"
                  (click)="loadPreview(indicator_holder_group,null,current_orgunit.id)"
                  title="Click to analyse indicators for {{ indicator_holder_group.name }}">
                  {{ indicator_holder_group.name }}
                </th>
              </tr>
              <tr>
                <th style="vertical-align: bottom">
                  <input type="text" class="form-control input-sm no-print" [(ngModel)]="searchQuery1" placeholer="Search">
                </th>
                <th *ngFor="let indicator of getItemsFromGroups()" style="font-size: 10px;width: 70px;cursor: pointer" class="sans-pro"
                    title="Click to analyse {{ getIndicatorTitle(indicator) }}" (click)="loadPreview(null,indicator,current_orgunit.id)">
                  <img src="loader.gif" style="height: 30px" *ngIf="subScoreCard.indicator_loading[indicator.indicators[0].id]" title="Loading old data for {{ getIndicatorTitle(indicator) }}">
                  <span *ngIf="subScoreCard.indicator_done_loading[indicator.indicators[0].id] && subScoreCard.old_proccessed_percent != 100" class="glyphicon glyphicon-ok text-success"></span>
                  {{ getIndicatorTitle(indicator) }}
                </th>
              </tr>
              <ng-container *ngFor="let current_inner_orgunit of subScoreCard.orgunits | filterByName:searchQuery1">
                <tr style="height: 35px">
                  <td style="vertical-align: bottom;font-size: 10px; cursor: pointer;" class="orgUnitName" (click)="loadGrandChildrenData(current_inner_orgunit)">
                    {{ current_inner_orgunit.name }}
                  </td>
                  <td *ngFor="let indicator of getItemsFromGroups()"
                      style="font-size: 10px;width: 70px; cursor: pointer; padding: 0px;line-height: 10%;"  class="sans-pro" (click)="loadPreview(null,indicator,current_inner_orgunit.id)">
                    <svg *ngIf="indicator.indicators.length == 2" viewbox="0 0 70 35" width="70" height="35">
                      <polygon points="0 0 70 0 70 0 0 35" [attr.fill]="assignBgColor(indicator.indicators[0],indicator.indicators[0].values[current_inner_orgunit.id])" style="stroke:#CAC0C0;stroke-width:0.4"/>
                      <text fill="#000" x="3" y="20" font-size="11" font-family="Source Sans Pro">
                        <tspan>{{ indicator.indicators[0].values[current_orgunit.id] }}</tspan>
                      </text>
                      <!--top arrow-->
                      <path *ngIf="indicator.indicators[0].showTopArrow[current_inner_orgunit.id]" d="M2,10H12L7,4" style="fill:black;stroke:black;stroke-width:1" />
                      <!--bottom arrow showing decrease-->
                      <path *ngIf="indicator.indicators[0].showBottomArrow[current_inner_orgunit.id]" d="M2,22H12L7,30" style="fill:black;stroke:black;stroke-width:1"/>

                      <!--second triangle-->
                      <polygon points="0 35 70 0 70 35 0 35" [attr.fill]="assignBgColor(indicator.indicators[1],indicator.indicators[1].values[current_inner_orgunit.id])" style="stroke:#CAC0C0;stroke-width:0.4"/>
                      <!--number for the second triangle-->
                      <text fill="#000" x="48" y="20" font-size="11" font-family="Source Sans Pro">
                        <tspan>{{ indicator.indicators[1].values[current_inner_orgunit.id] }}</tspan>
                      </text>
                      <!--top arrow for the right triagle-->
                      <path *ngIf="indicator.indicators[1].showTopArrow[current_inner_orgunit.id]" d="M65,10H55L60,4" style="fill:black;stroke:black;stroke-width:1"/>
                      <!--below arrow for the triangle-->
                      <path *ngIf="indicator.indicators[1].showBottomArrow[current_inner_orgunit.id]" d="M65,22H55L60,28" style="fill:black;stroke:black;stroke-width:1"/>
                    </svg>

                    <!--if there is only one indicator to display-->
                    <svg *ngIf="indicator.indicators.length == 1" viewbox="0 0 90 35" width="90" height="35">
                      <!--full box to cover all area-->
                      <polygon points="0 0 90 0 90 35 0 35" [attr.fill]="assignBgColor(indicator.indicators[0],indicator.indicators[0].values[current_inner_orgunit.id])"/>
                      <text fill="#000" x="30" y="20" font-size="11" font-family="Source Sans Pro">
                        <tspan>{{ indicator.indicators[0].values[current_inner_orgunit.id] }}</tspan>
                      </text>
                      <!--top arrow-->
                      <path *ngIf="indicator.indicators[0].showTopArrow[current_inner_orgunit.id]" d="M2,10H12L7,4" style="fill:black;stroke:black;stroke-width:1"/>
                      <!--bottom arrow showing decrease-->
                      <path *ngIf="indicator.indicators[0].showBottomArrow[current_inner_orgunit.id]" d="M2,22H12L7,30" style="fill:black;stroke:black;stroke-width:1"/>

                    </svg>
                  </td>

                </tr>
                <tr *ngIf="showChildrenSubScorecard[current_inner_orgunit.id]">
                  <td [attr.colspan]="getItemsFromGroups().length +1" style="background-color: rgba(39,102,150,0.1)">

                    <!--Second child scorecard-->
                    <!--Second child scorecard-->
                    <div class="container-fluid no-print" *ngIf="childrenSubScoreCard.loading" style="margin-top: 10px;padding-left: 5px">
                      <!--<img src="loading.gif" style="height: 70px; padding-top: 20px">-->
                      {{ childrenSubScoreCard.loading_message }}

                      <div class="progress">
                        <div class="progress-bar" role="progressbar" [attr.aria-valuenow]="childrenSubScoreCard.proccessed_percent" [attr.aria-valuemin]="0" [attr.aria-valuemax]="100" [style.width]="childrenSubScoreCard.proccessed_percent+'%'">
                          {{ childrenSubScoreCard.proccessed_percent | number : '1.2-2' }}%
                        </div>
                      </div>
                    </div>

                    <div class="container-fluid" id="child_inner_scorecard" style="padding-left: 5px;margin-top: 10px">
                      <h3>{{ scorecard.data.header.title }} &nbsp;&nbsp;&nbsp; {{ current_inner_orgunit.name }} &nbsp;&nbsp;&nbsp; {{ period.name }}
                        <button class="btn btn-default btn-sm pull-right" (click)="downloadCSV(current_inner_orgunit.id)">CSV</button>
                        <button class="btn btn-warning btn-sm pull-right" (click)="closechildrenSubUnit()">Close</button>
                      </h3>
                      <table class="table table-bordered"
                             style="margin-bottom: 3px;font-size: 9px;border: 1px solid #ddd;border-spacing: 0;border-collapse: collapse;display: table; background-color: rgba(0,0,0,0.05)"
                      >
                        <tr [ngClass]="{'hide_no_group': scorecard.data.data_settings.indicator_holder_groups.length == 1 }">
                          <th class="orgUnitName">

                          </th>
                          <th
                            style="font-size: 9px; cursor: pointer"
                            *ngFor="let indicator_holder_group of scorecard.data.data_settings.indicator_holder_groups"
                            [attr.colspan]="indicator_holder_group.indicator_holder_ids.length"
                            class="sans-pro"
                            (click)="loadPreview(indicator_holder_group,null,current_inner_orgunit.id)"
                            title="Click to analyse indicators for {{ indicator_holder_group.name }}">
                            {{ indicator_holder_group.name }}
                          </th>
                        </tr>
                        <tr>
                          <th style="vertical-align: bottom">
                            <input type="text" class="form-control input-sm no-print" [(ngModel)]="searchQuery2" placeholer="Search">
                          </th>
                          <th *ngFor="let indicator of getItemsFromGroups()" style="font-size: 10px;width: 70px;cursor: pointer" class="sans-pro"
                              title="Click to analyse {{ getIndicatorTitle(indicator) }}" (click)="loadPreview(null,indicator,current_inner_orgunit.id)">
                            <img src="loader.gif" style="height: 30px" *ngIf="childrenSubScoreCard.indicator_loading[indicator.indicators[0].id]" title="Loading old data for {{ getIndicatorTitle(indicator) }}">
                            <span *ngIf="childrenSubScoreCard.indicator_done_loading[indicator.indicators[0].id] && childrenSubScoreCard.old_proccessed_percent != 100" class="glyphicon glyphicon-ok text-success"></span>

                            {{ getIndicatorTitle(indicator) }}
                          </th>
                        </tr>
                        <ng-container *ngFor="let children_inner_orgunit of childrenSubScoreCard.orgunits | filterByName:searchQuery2">
                          <tr style="height: 35px">
                            <td style="vertical-align: bottom;font-size: 10px;" class="orgUnitName">
                              {{ children_inner_orgunit.name }}
                            </td>
                            <td *ngFor="let indicator of getItemsFromGroups()"
                                style="font-size: 10px;width: 70px; cursor: pointer; padding: 0px;line-height: 10%;"  class="sans-pro" (click)="loadPreview(null,indicator,children_inner_orgunit.id)">
                              <svg *ngIf="indicator.indicators.length == 2" viewbox="0 0 70 35" width="70" height="35">
                                <polygon points="0 0 70 0 70 0 0 35" [attr.fill]="assignBgColor(indicator.indicators[0],indicator.indicators[0].values[current_inner_orgunit.id])" style="stroke:#CAC0C0;stroke-width:0.4"/>
                                <text fill="#000" x="3" y="20" font-size="11" font-family="Source Sans Pro">
                                  <tspan>{{ indicator.indicators[0].values[current_orgunit.id] }}</tspan>
                                </text>
                                <!--top arrow-->
                                <path *ngIf="indicator.indicators[0].showTopArrow[children_inner_orgunit.id]" d="M2,10H12L7,4" style="fill:black;stroke:black;stroke-width:1"/>
                                <!--bottom arrow showing decrease-->
                                <path *ngIf="indicator.indicators[0].showBottomArrow[children_inner_orgunit.id]" d="M2,22H12L7,30" style="fill:black;stroke:black;stroke-width:1"/>

                                <!--second triangle-->
                                <polygon points="0 35 70 0 70 35 0 35" [attr.fill]="assignBgColor(indicator.indicators[1],indicator.indicators[1].values[children_inner_orgunit.id])" style="stroke:#CAC0C0;stroke-width:0.4"/>
                                <!--number for the second triangle-->
                                <text fill="#000" x="48" y="20" font-size="11" font-family="Source Sans Pro">
                                  <tspan>{{ indicator.indicators[1].values[children_inner_orgunit.id] }}</tspan>
                                </text>
                                <!--top arrow for the right triagle-->
                                <path *ngIf="indicator.indicators[1].showTopArrow[children_inner_orgunit.id]" d="M65,10H55L60,4" style="fill:black;stroke:black;stroke-width:1"/>
                                <!--below arrow for the triangle-->
                                <path *ngIf="indicator.indicators[1].showBottomArrow[children_inner_orgunit.id]" d="M65,22H55L60,28" style="fill:black;stroke:black;stroke-width:1"/>
                              </svg>

                              <!--if there is only one indicator to display-->
                              <svg *ngIf="indicator.indicators.length == 1" viewbox="0 0 90 35" width="90" height="35">
                                <!--full box to cover all area-->
                                <polygon points="0 0 90 0 90 35 0 35" [attr.fill]="assignBgColor(indicator.indicators[0],indicator.indicators[0].values[current_inner_orgunit.id])"/>
                                <text fill="#000" x="30" y="20" font-size="11" font-family="Source Sans Pro">
                                  <tspan>{{ indicator.indicators[0].values[children_inner_orgunit.id] }}</tspan>
                                </text>
                                <!--top arrow-->
                                <path *ngIf="indicator.indicators[0].showTopArrow[children_inner_orgunit.id]" d="M2,10H12L7,4" style="fill:black;stroke:black;stroke-width:1"/>
                                <!--bottom arrow showing decrease-->
                                <path *ngIf="indicator.indicators[0].showBottomArrow[children_inner_orgunit.id]" d="M2,22H12L7,30" style="fill:black;stroke:black;stroke-width:1"/>

                              </svg>
                            </td>

                          </tr>
                        </ng-container>
                      </table>
                    </div>

                    <!--end of First child scorecard-->
                    <!--end of First child scorecard-->


                </tr>
              </ng-container>
            </table>
          </div>

          <!--end of First child scorecard-->
          <!--end of First child scorecard-->


      </tr>
    </ng-container>
  </table>
</div>

<!--scorecard indicator details-->
<div class="indicator_details" *ngIf="show_details" [@fadeInOut]>
  <div class="indicator_dialog">
    <div class="indicator-content">
        <span class="glyphicon glyphicon-remove pull-right" style="cursor: pointer" (click)="removeModel()"></span>
      <div style="padding: 15px">
        <indicator-card
          [orgunit_nodes]="organisationunits"
          [current_period_type]="period_type"
          [current_year]="year"
          [indicator]="selected_indicator"
          [default_period]="period"
          [default_period_type]="period_type"
          [default_orgunit] = "orgunit_for_model"
          (show_details) = "getDetails($event)"
        >Loading ....
        </indicator-card>
      </div>
    </div>
  </div>
</div>
