
@media print {
  .no-print *{
    display: none;
  }
  .no-print{
    display: none;
  }

  .orgUnitName{
    min-width: 130px;
    height: 35px;
    max-height: 35px;
    font-size: 9px;
  }
  .table-bordered td{
    /*border-top: 0.1em;*/
  }
  .legendItem{
    width: 200px;
    float: left;
  }

}

/*scorecard indicator details*/
.indicator_details{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  /*display: none;*/
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  -webkit-transition: opacity .15s linear;
  -o-transition: opacity .15s linear;
  transition: opacity .15s linear;
  background-color: rgba(0,0,0,.4);
}

.indicator_dialog{
  width: 86%;
  margin: 100px 7% auto 7%;
}
.indicator-content {
  -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 6px;
  outline: 0;
  min-height: 200px;
  padding: 10px;
}

.hide_no_group{
  display: none;
}

table * {
  line-height: 80%;
}

.subtotal{
  width:90px;max-width: 90px;
}
.indicator_title{
  font-size: 10px;
  width:90px;
  max-width: 90px;
  overflow-wrap: break-word;
  cursor: pointer;
  line-height: 140%
}

.list-group-item{
  padding: 5px 15px
}

.btn-outline-secondary:hover {
  color: #fff;
  background-color: rgba(158, 166, 174, 0.73);
  border-color: #868e96;
}
