<div class="container-fluid no-print" style="padding-left: 5px">
  <div class="col-sm-2" style="padding-left: 0px; cursor: pointer;" [routerLink]="['']">
    <img src="scorecard.svg" style="height: 58px; width: 48px"> <span style="font-size: 15px"> Score Card</span>
  </div>
  <div class="col-sm-8">
    <h3 class="text-center" style="margin-top: 0px"><small></small></h3>
  </div>
  <div class="col-sm-2" style="margin-top: 14px;padding-right: 0px">
    <button class="btn btn-default btn-sm pull-right" [routerLink]="['']"><span class="glyphicon glyphicon-home"></span> home</button>
  </div>
</div>

<!--filters-->
<div class="container-fluid no-print" id="filters" style="padding: 0px">
  <div class="col-sm-4" style="padding-left: 5px">
    <label>Organisation Units</label>

    <div class="tree-input" >
      <div>
        <div class="show_items" (click)="displayOrgTree()">
      <span *ngFor="let item of selected_orgunits" class="selected-item ng-binding ng-scope">
        {{ item.name }}
      </span>
          <span class="no-selection"*ngIf="selected_orgunits.length == 0 && !orgunit_tree_config.loading">{{ orgunit_tree_config.placeholder }}</span>
          <span class="glyphicon glyphicon-triangle-bottom pull-right" *ngIf="!orgunit_tree_config.loading"></span>
          <span *ngIf="orgunit_tree_config.loading">{{ orgunit_tree_config.loading_message }}</span>
        </div>
        <div class="tree-view" [ngClass]="{'hiddenTree':showOrgTree}" id="tree_view">
          <div class="search-area">
            <form *ngIf="!orgunit_tree_config.loading && orgunit_tree_config.show_search" style="border-bottom: solid 1px blanchedalmond;">
              <input #filter (keyup)="filterNodes(filter.value, orgtree)" placeholder="{{ orgunit_tree_config.search_text }}" class="search_field"/>

            </form>
          </div>
          <div *ngIf="orgunit_tree_config.loading">{{ orgunit_tree_config.loading_message }}</div>
          <div class="tree-area" *ngIf="!orgunit_tree_config.loading">
            <Tree
              #orgtree
              [nodes]="organisationunits"
              [focused]="true"
              [options]="customTemplateStringOptions"
              (onActivate)="activateOrg($event)"
              (onDeactivate)="deactivateOrg($event)"
            >
              <template #treeNodeTemplate let-node>
                <span>{{ node.data.name }}</span>
              </template>
            </Tree>
          </div>
          <div class="close-area">
            <button class="btn btn-default pull-right" style="height: 30px"  (click)="displayOrgTree()">
              <span class="glyphicon glyphicon-remove"></span> Close
            </button>
            <button type="button" class="btn btn-default pull-right"  style="height: 30px" (click)="loadScoreCard()">
              <span class="glyphicon glyphicon-refresh"></span>  Update
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="col-sm-4">
        <label>Selected Period</label>
        <div class="tree-input" >
          <div>
            <div class="show_items" (click)="displayPerTree()">
      <span *ngFor="let item of selected_periods" class="selected-item ng-binding ng-scope">
        {{ item.name }}
      </span>
              <span class="no-selection"*ngIf="selected_periods.length == 0 && !period_tree_config.loading">{{ period_tree_config.placeholder }}</span>
              <span class="glyphicon glyphicon-triangle-bottom pull-right" *ngIf="!period_tree_config.loading"></span>
              <span *ngIf="period_tree_config.loading">{{ period_tree_config.loading_message }}</span>
            </div>
            <div class="tree-view" [ngClass]="{'hiddenTree':showPerTree}">
              <div class="col-sm-7" style="padding-left: 0px; margin-bottom: 5px">
                <label>Period Type</label>
                <select id="periodType" [(ngModel)]="period_type" class="form-control" style="height: 30px " (change)="changePeriodType()">
                  <option value="">[ Select period type ]</option>
                  <option value="Monthly">Monthly</option>
                  <option value="BiMonthly">Bimonthly</option>
                  <option value="Quarterly">Quarterly</option>
                  <option value="SixMonthly">Six-monthly</option>
                  <option value="SixMonthlyApril">Six-monthly April</option>
                  <option value="Yearly">Yearly</option>
                  <option value="FinancialApril">Financial-April</option>
                  <option value="FinancialJuly">Financial-July</option>
                  <option value="FinancialOct">Financial-Oct</option>
                </select>
              </div>
              <div class="col-sm-5" style="padding-right: 0px; margin-bottom: 5px">
                <label>&nbsp;</label>
                <div class="btn-group" style="width: 100%">
                  <button type="button" class="btn btn-default pull-right" style="height: 30px; font-size: 11px" (click)="pushPeriodForward()">>> year</button>
                  <button type="button" class="btn btn-default pull-right" style="height: 30px; font-size: 11px;" (click)="pushPeriodBackward()"><< year</button>
                </div>
              </div>

              <div class="search-area">
                <form *ngIf="!period_tree_config.loading && period_tree_config.show_search" style="border-bottom: solid 1px blanchedalmond;">
                  <input #filter (keyup)="filterNodes(filter.value, pertree)" placeholder="{{ period_tree_config.search_text }}" id="search_field"/>

                </form>
              </div>
              <div *ngIf="period_tree_config.loading">{{ period_tree_config.loading_message }}</div>
              <div class="tree-area1" *ngIf="!period_tree_config.loading">
                <Tree
                  #pertree
                  [nodes]="periods"
                  [focused]="true"
                  [options]="customTemplateStringOptions"
                  (onActivate)="activatePer($event)"
                  (onDeactivate)="deactivatePer($event)"
                >
                  <template #treeNodeTemplate let-node>
                    <span>{{ node.data.name }}</span>
                  </template>
                </Tree>
              </div>
              <div class="close-area">
                <button class="btn btn-default pull-right" style="height: 30px"  (click)="displayPerTree()">
                  <span class="glyphicon glyphicon-remove"></span> Close
                </button>
                <button type="button" class="btn btn-default pull-right"  style="height: 30px" (click)="loadScoreCard()">
                  <span class="glyphicon glyphicon-refresh"></span>  Update
                </button>
              </div>
            </div>
          </div>
        </div>


  </div>
  <div class="col-sm-4">
    <label>&nbsp;&nbsp;</label>
    <div>
      <button type="button" class="btn btn-default pull-right"  style="height: 38px" (click)="loadScoreCard()">
        <span class="glyphicon glyphicon-refresh"></span>  Update
      </button>
      <button type="button" class="btn btn-default pull-right"  style="height: 38px" (click)="downloadCSV(orgUnit.id)">
        <span class="glyphicon glyphicon-save-file"></span>  CSV
      </button>
      <button type="button" class="btn btn-default pull-right"  style="height: 38px" (click)="browserPrint()">
        <span class="glyphicon glyphicon-print"></span> Print
      </button>

      <!--some aditional configurations-->
      <button *ngIf="!loading" type="button" class="btn btn-default pull-right"  style="height: 38px" (click)="showOptions()">
        <span class="glyphicon glyphicon-cog"></span> Options
      </button>
      <div class="additional-options" [ngClass]="{'hiddenTree':showAdditionalOptions}" style="padding-top: 0px">
        <!--<label class="text-muted" style="font-weight: normal; font-size: 11px;cursor: pointer">-->
          <!--<input type="checkbox" style="height: 10px"  [(ngModel)]="keep_options_open"> Allow me to make more than one selection-->
        <!--</label>-->
        <ul class="list-group">
          <li class="list-group-item pointer">
            <label><input type="checkbox" (change)="enableLegend($event)"> Show Legend</label>
          </li>
          <li class="list-group-item pointer">
            <!--<div class="row">-->
              <!--<div class="col-sm-6">Show Sum for</div>-->
              <!--<div class="col-sm-3"><label><input type="checkbox" (change)="showSumInRow($event)"> rows</label></div>-->
              <!--<div class="col-sm-3"><label><input type="checkbox" (change)="showSumInColumn($event)"> column</label></div>-->
            <!--</div>-->
            <div class="row">
              <div class="col-sm-6"><label><input type="checkbox" (change)="showAverageInRow($event)">Show Rows Average</label></div>
              <div class="col-sm-6"><label><input type="checkbox" (change)="showAverageInColumn($event)" >Show Column Average</label></div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-sm-12">
                <label>Sort By</label>
              </div>
              <div class="col-sm-8">
                <select class="form-control" [(ngModel)]="sorting_column" (click)="sortScoreCard(sorting_column, sortAscending)">
                  <option value="none">None</option>
                  <option value="avg">Average</option>
                  <!--<option value="sum">Sum</option>-->
                  <option *ngFor="let listItem of getIndicatorsList(scorecard)" value="{{ listItem.id }}">{{ listItem.title }}</option>
                </select>
              </div>
              <div class="col-sm-4 pointer">
                <label style="cursor: pointer"><input type="checkbox" [(ngModel)]="sortAscending"  (change)="sortScoreCard(sorting_column, sortAscending)"> Ascending</label>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <label>Hide Columns</label>
            <select class="form-control" multiple [(ngModel)]="hidenColums" (change)="hideColums()">
              <option value="">Show All</option>
              <option *ngFor="let listItem of getIndicatorsList(scorecard)" value="{{ listItem.id }}">{{ listItem.title }}</option>
            </select>
            <span class="help-block"><span class="glyphicon glyphicon-question-sign"></span> hold control to select multiple</span>
          </li>
        </ul>
        <button class="btn btn-sm btn-warning pull-right" (click)="showOptions()" style="height: 35px">
          <span class="glyphicon glyphicon-remove"></span> close
        </button>
        <button class="btn btn btn-info pull-right" [routerLink]="['../../create','edit',scorecard.id]" style="height: 35px">
          <span class="glyphicon glyphicon-pencil"></span> Edit Scorecard
        </button>
      </div>

      <!--end of additional configuration-->

    </div>
  </div>

</div>

<!--loading message-->
<div class="container-fluid no-print" *ngIf="loading" style="margin-top: 10px;padding-left: 5px">
  <!--<img src="balls-5.svg" style="height: 70px; padding-top: 20px">-->
  {{ loading_message }}

  <div class="progress">
    <div class="progress-bar" role="progressbar" [attr.aria-valuenow]="proccessed_percent" [attr.aria-valuemin]="0" [attr.aria-valuemax]="100" [style.width]="proccessed_percent+'%'">
      {{ proccessed_percent | number : '1.2-2' }}%
    </div>
  </div>
</div>

<!--main scorecard area-->
<div class="container-fluid" id="scorecard" style="padding-left: 5px;margin-top: 10px">
  <h3>{{ scorecard.data.header.title }} &nbsp;&nbsp;&nbsp; {{ orgUnit.name }} &nbsp;&nbsp;&nbsp; {{ period.name }}</h3>
  <!--legend area-->
  <div class="row legend" style="margin-bottom: 10px" *ngIf="showLegend">
    <div class="col-sm-2 legendItem" *ngFor="let legend of scorecard.data.legendset_definitions">
      <table>
        <tr>
          <td style="padding-left: 0px;border: 1px solid #014b5a;height: 25px;width: 50px">
            <svg viewbox="0 0 50 25" width="50" height="25">
              <polygon points="0 0 50 0 50 25 0 25" [attr.fill]="legend.color"/>
            </svg>
          </td>
          <td style="font-size: 10px;padding-left: 5px">{{ legend.definition}}</td>
        </tr>
      </table>
      <!--<div class="col-sm-3" style="padding-left: 0px;border: 1px solid #014b5a;height: 25px;border-radius: 3px" [style.background-color]="legend.color">-->
      <!--</div>-->
      <!--<div class="col-sm-9" style="vertical-align: bottom;font-size: 10px;display: table-cell;">{{ legend.definition}}</div>-->
    </div>
  </div>
  <table class="table table-bordered scorecard_table">
    <tr [ngClass]="{'hide_no_group': scorecard.data.data_settings.indicator_holder_groups.length == 1}" style="line-height: 140%">
      <th class="orgUnitName"></th>
      <th
        style="font-size: 9px; cursor: pointer"
        *ngFor="let indicator_holder_group of scorecard.data.data_settings.indicator_holder_groups"
        [attr.colspan]="getGroupColspan(indicator_holder_group.indicator_holder_ids)"
        [ngClass]="{'hide_no_group': getGroupColspan(indicator_holder_group.indicator_holder_ids) == 0}"
        (click)="loadPreview(indicator_holder_group,null,null)"
        title="Click to analyse indicators for {{ indicator_holder_group.name }}">
        {{ indicator_holder_group.name }}
      </th>
      <th *ngIf="show_sum_in_row"></th>
      <th *ngIf="show_average_in_row"></th>
    </tr>
    <tr>
      <th style="vertical-align: bottom">
        <input type="text" class="form-control input-sm no-print" [(ngModel)]="searchQuery" placeholer="Search">
      </th>
      <td *ngFor="let indicator of getItemsFromGroups()" class="indicator_title" style="line-height: 140%"
          title="Click to analyse {{ getIndicatorTitle(indicator) }}" (click)="loadPreview(null,indicator,null)">
        <img src="balls-3.svg" style="height: 30px" *ngIf="indicator_loading[indicator.indicators[0].id]" title="Loading old data for {{ getIndicatorTitle(indicator) }}">
        <span *ngIf="indicator_done_loading[indicator.indicators[0].id] && old_proccessed_percent != 100" class="glyphicon glyphicon-ok text-success"></span>
        {{ getIndicatorTitle(indicator) }}
      </td>
      <th class="subtotal" *ngIf="show_sum_in_row">Sum</th>
      <th class="subtotal" *ngIf="show_average_in_row">Average</th>
    </tr>
    <ng-container *ngFor="let current_orgunit of orgunits | filterByName:searchQuery">
      <tr style="height: 35px; max-height: 35px; overflow-y: hidden; line-height: 80%" class="orunitTr">
        <td style="vertical-align: bottom;font-size: 10px;cursor: pointer;line-height: 80%;padding: 8px" class="orgUnitName" (click)="loadChildrenData(current_orgunit)">
          {{ current_orgunit.name }}
        </td>
        <td *ngFor="let indicator of getItemsFromGroups()"
            style="font-size: 10px;max-width: 90px;overflow-wrap: break-word; cursor: pointer; padding: 0px;line-height: 10%;"
            class="sans-pro"
            (click)="loadPreview(null,indicator,current_orgunit.id)"
            title="{{ prepareTooltip(indicator,current_orgunit.id) }}"
        >
          <svg-item [indicator]="indicator" [current_orgunit]="current_orgunit" [indicator_list]="getVisibleIndicators(indicator)"></svg-item>
        </td>

        <td style="font-size: 10px;max-width: 90px;overflow-wrap: break-word;padding: 8px; line-height: 80%;" *ngIf="show_sum_in_row">{{ findRowSum(current_orgunit.id) | number : '1.2-2' }}</td>
        <td style="font-size: 10px;max-width: 90px;overflow-wrap: break-word;padding: 8px; line-height: 80%;" *ngIf="show_average_in_row">{{ findRowAverage(current_orgunit.id) }}</td>
      </tr>

      <tr *ngIf="showSubScorecard[current_orgunit.id]">
        <td [attr.colspan]="getItemsFromGroups().length +1 + getCorrectColspan() + getCorrectColspan()" style="background-color: rgba(0,0,0,0.1)">

          <!--First child scorecard-->
          <!--First child scorecard-->
          <div class="container-fluid no-print" *ngIf="subScoreCard.loading" style="margin-top: 10px;padding-left: 5px">
            <!--<img src="loading.gif" style="height: 70px; padding-top: 20px">-->
            {{ subScoreCard.loading_message }}

            <div class="progress">
              <div class="progress-bar" role="progressbar" [attr.aria-valuenow]="subScoreCard.proccessed_percent" [attr.aria-valuemin]="0" [attr.aria-valuemax]="100" [style.width]="subScoreCard.proccessed_percent+'%'">
                {{ subScoreCard.proccessed_percent | number : '1.2-2' }}%
              </div>
            </div>
          </div>

          <div class="container-fluid" id="inner_scorecard" style="padding-left: 5px;margin-top: 10px">
            <!--sort by area-->
            <div class="row" >
              <div class="col-sm-7"><h4>{{ scorecard.data.header.title }} &nbsp;&nbsp;&nbsp; {{ current_orgunit.name }} &nbsp;&nbsp;&nbsp; {{ period.name }}</h4></div>
              <div class="col-sm-1 no-print" style="margin-top: 10px; padding: 0px"><label class="pull-right no-print">Sort By:</label> </div>
              <div class="col-sm-2 no-print" style="padding-left: 5px">
                <select style="height: 30px;" class="form-control pull-right" [(ngModel)]="sub_sorting_column" (click)="sortSubScoreCard(sub_sorting_column, sortAscending)">
                  <option value="none">None</option>
                  <option value="avg">Average</option>
                  <option value="sum">Sum</option>
                  <option *ngFor="let listItem of getIndicatorsList(scorecard)" value="{{ listItem.id }}">{{ listItem.title }}</option>
                </select>
              </div>
              <div class="col-sm-2 no-print">
                <button class="btn btn-default btn-sm pull-right" (click)="closeSubUnit()" style="height: 30px">
                  <span _ngcontent-hsp-13="" class="glyphicon glyphicon-remove"></span> Close
                </button>
                <button class="btn btn-default btn-sm pull-right" (click)="downloadCSV(current_orgunit.id)" style="height: 30px">
                  <span _ngcontent-hsp-13="" class="glyphicon glyphicon-save-file"></span> CSV
                </button>
              </div>
            </div>
            <table class="table table-bordered scorecard_table" style="background-color: rgba(0,0,0,0.05)">
              <tr [ngClass]="{'hide_no_group': scorecard.data.data_settings.indicator_holder_groups.length == 1 }" style="line-height: 140%">
                <th class="orgUnitName">

                </th>
                <th
                  style="font-size: 9px; cursor: pointer"
                  *ngFor="let indicator_holder_group of scorecard.data.data_settings.indicator_holder_groups"
                  [attr.colspan]="indicator_holder_group.indicator_holder_ids.length"
                  class="sans-pro"
                  (click)="loadPreview(indicator_holder_group,null,current_orgunit.id)"
                  title="Click to analyse indicators for {{ indicator_holder_group.name }}">
                  {{ indicator_holder_group.name }}
                </th>
                <th *ngIf="show_sum_in_row"></th>
                <th *ngIf="show_average_in_row"></th>
              </tr>
              <tr>
                <th style="vertical-align: bottom">
                  <input type="text" class="form-control input-sm no-print" [(ngModel)]="searchQuery1" placeholer="Search">
                </th>
                <td *ngFor="let indicator of getItemsFromGroups()" class="indicator_title" style="line-height: 140%"
                    title="Click to analyse {{ getIndicatorTitle(indicator) }}" (click)="loadPreview(null,indicator,current_orgunit.id)">
                  <img src="balls-3.svg" style="height: 30px" *ngIf="subScoreCard.indicator_loading[indicator.indicators[0].id]" title="Loading old data for {{ getIndicatorTitle(indicator) }}">
                  <span *ngIf="subScoreCard.indicator_done_loading[indicator.indicators[0].id] && subScoreCard.old_proccessed_percent != 100" class="glyphicon glyphicon-ok text-success"></span>
                  {{ getIndicatorTitle(indicator) }}
                </td>
                <th class="subtotal" *ngIf="show_sum_in_row">Sum</th>
                <th class="subtotal" *ngIf="show_average_in_column">Average</th>
              </tr>
              <ng-container *ngFor="let current_inner_orgunit of subScoreCard.orgunits | filterByName:searchQuery1">
                <tr style="height: 35px">
                  <td style="vertical-align: bottom;font-size: 10px; cursor: pointer;padding: 8px" class="orgUnitName" (click)="loadGrandChildrenData(current_inner_orgunit)">
                    {{ current_inner_orgunit.name }}
                  </td>
                  <td *ngFor="let indicator of getItemsFromGroups()"
                      style="font-size: 10px;max-width: 90px;overflow-wrap: break-word; cursor: pointer; padding: 0px;line-height: 10%;"
                      class="sans-pro"
                      (click)="loadPreview(null,indicator,current_inner_orgunit.id)"
                  >
                    <svg-item [indicator]="indicator" [current_orgunit]="current_inner_orgunit" [indicator_list]="getVisibleIndicators(indicator)"></svg-item>
                  </td>
                  <td  style="line-height: 10%;padding: 8px" *ngIf="show_sum_in_row">{{ findRowSum(current_inner_orgunit.id) | number : '1.2-2'}}</td>
                  <td style="line-height: 10%;padding: 8px" *ngIf="show_average_in_row">{{ findRowAverage(current_inner_orgunit.id) }}</td>
                </tr>
                <tr *ngIf="showChildrenSubScorecard[current_inner_orgunit.id]">
                  <td [attr.colspan]="getItemsFromGroups().length +1 + getCorrectColspan()" style="background-color: rgba(39,102,150,0.1)">

                    <!--Second child scorecard-->
                    <!--Second child scorecard-->
                    <div class="container-fluid no-print" *ngIf="childrenSubScoreCard.loading" style="margin-top: 10px;padding-left: 5px">
                      <!--<img src="loading.gif" style="height: 70px; padding-top: 20px">-->
                      {{ childrenSubScoreCard.loading_message }}

                      <div class="progress">
                        <div class="progress-bar" role="progressbar" [attr.aria-valuenow]="childrenSubScoreCard.proccessed_percent" [attr.aria-valuemin]="0" [attr.aria-valuemax]="100" [style.width]="childrenSubScoreCard.proccessed_percent+'%'">
                          {{ childrenSubScoreCard.proccessed_percent | number : '1.2-2' }}%
                        </div>
                      </div>
                    </div>

                    <div class="container-fluid" id="child_inner_scorecard" style="padding-left: 5px;margin-top: 10px">
                      <!--sort by area-->
                      <div class="row" >
                        <div class="col-sm-7"><h4>{{ scorecard.data.header.title }} &nbsp;&nbsp;&nbsp; {{ current_inner_orgunit.name }} &nbsp;&nbsp;&nbsp; {{ period.name }}</h4></div>
                        <div class="col-sm-1 no-print" style="margin-top: 10px; padding: 0px"><label class="pull-right no-print">Sort By:</label> </div>
                        <div class="col-sm-2 no-print" style="padding-left: 5px">
                          <select style="height: 30px" class="form-control pull-right" [(ngModel)]="grand_sorting_column" (click)="sortGrandScoreCard(grand_sorting_column, sortAscending)">
                            <option value="none">None</option>
                            <option value="avg">Average</option>
                            <option value="sum">Sum</option>
                            <option *ngFor="let listItem of getIndicatorsList(scorecard)" value="{{ listItem.id }}">{{ listItem.title }}</option>
                          </select>
                        </div>
                        <div class="col-sm-2 no-print">
                          <button class="btn btn-default btn-sm pull-right" (click)="closechildrenSubUnit()" style="height: 30px">
                            <span _ngcontent-hsp-13="" class="glyphicon glyphicon-remove"></span> Close
                          </button>
                          <button class="btn btn-default btn-sm pull-right" (click)="downloadCSV(current_inner_orgunit.id)" style="height: 30px">
                            <span _ngcontent-hsp-13="" class="glyphicon glyphicon-save-file"></span> CSV
                          </button>
                        </div>
                      </div>

                      <table class="table table-bordered scorecard_table" style="background-color: rgba(0,0,0,0.05)">
                        <tr [ngClass]="{'hide_no_group': scorecard.data.data_settings.indicator_holder_groups.length == 1 }" style="line-height: 140%">
                          <th class="orgUnitName"></th>
                          <th
                            style="font-size: 9px; cursor: pointer"
                            *ngFor="let indicator_holder_group of scorecard.data.data_settings.indicator_holder_groups"
                            [attr.colspan]="indicator_holder_group.indicator_holder_ids.length"
                            class="sans-pro"
                            (click)="loadPreview(indicator_holder_group,null,current_inner_orgunit.id)"
                            title="Click to analyse indicators for {{ indicator_holder_group.name }}">
                            {{ indicator_holder_group.name }}
                          </th>
                          <th *ngIf="show_sum_in_row"></th>
                          <th *ngIf="show_average_in_row"></th>
                        </tr>
                        <tr>
                          <th style="vertical-align: bottom">
                            <input type="text" class="form-control input-sm no-print" [(ngModel)]="searchQuery2" placeholer="Search">
                          </th>
                          <td *ngFor="let indicator of getItemsFromGroups()" class="indicator_title" style="line-height: 140%"
                              title="Click to analyse {{ getIndicatorTitle(indicator) }}" (click)="loadPreview(null,indicator,current_inner_orgunit.id)">
                            <img src="balls-3.svg" style="height: 30px" *ngIf="childrenSubScoreCard.indicator_loading[indicator.indicators[0].id]" title="Loading old data for {{ getIndicatorTitle(indicator) }}">
                            <span *ngIf="childrenSubScoreCard.indicator_done_loading[indicator.indicators[0].id] && childrenSubScoreCard.old_proccessed_percent != 100" class="glyphicon glyphicon-ok text-success"></span>

                            {{ getIndicatorTitle(indicator) }}
                          </td>
                          <th class="subtotal" *ngIf="show_sum_in_row">Sum</th>
                          <th class="subtotal" *ngIf="show_average_in_row">Average</th>
                        </tr>
                        <ng-container *ngFor="let children_inner_orgunit of childrenSubScoreCard.orgunits | filterByName:searchQuery2">
                          <tr style="height: 35px">
                            <td style="vertical-align: bottom;font-size: 10px;padding: 8px" class="orgUnitName">
                              {{ children_inner_orgunit.name }}
                            </td>
                            <td *ngFor="let indicator of getItemsFromGroups()"
                                style="font-size: 10px;max-width: 90px;overflow-wrap: break-word; cursor: pointer; padding: 0px;line-height: 10%;"  class="sans-pro" (click)="loadPreview(null,indicator,children_inner_orgunit.id)">
                              <svg-item [indicator]="indicator" [current_orgunit]="children_inner_orgunit" [indicator_list]="getVisibleIndicators(indicator)"></svg-item>
                            </td>
                            <td style="line-height: 80%;padding: 8px" *ngIf="show_sum_in_row">{{ findRowSum(children_inner_orgunit.id) | number : '1.2-2' }}</td>
                            <td  style="line-height: 80%;padding: 8px" *ngIf="show_average_in_row">{{ findRowAverage(children_inner_orgunit.id) }}</td>
                          </tr>
                        </ng-container>

                        <!--sum column-->
                        <tr *ngIf="show_sum_in_column" style="height: 35px; max-height: 35px; overflow-y: hidden; line-height: 80%">
                          <th>Sum</th>
                          <th *ngFor="let indicator of getItemsFromGroups()" style="width: 90px;max-width: 90px;line-height: 10%;padding: 0px">
                            <app-subtotal [indicator]="indicator" [orgunits]="childrenSubScoreCard.orgunits" [scorecard]="scorecard" [calculation]="'sum'" [indicator_list]="getVisibleIndicators(indicator)"></app-subtotal>
                          </th>
                          <th *ngIf="show_sum_in_row">{{ findRowTotalSum(childrenSubScoreCard.orgunits)  | number : '1.2-2' }}</th>
                          <th *ngIf="show_average_in_row">{{ findRowTotalAverage(childrenSubScoreCard.orgunits)}}</th>
                        </tr>
                        <!--Average column-->
                        <tr *ngIf="show_average_in_column" style="height: 35px; max-height: 35px; overflow-y: hidden; line-height: 80%">
                          <th>Average</th>
                          <th *ngFor="let indicator of getItemsFromGroups()" style="width: 90px;max-width: 90px;line-height: 10%;padding: 0px">
                            <app-subtotal [indicator]="indicator" [orgunits]="childrenSubScoreCard.orgunits" [scorecard]="scorecard" [calculation]="'avg'" [indicator_list]="getVisibleIndicators(indicator)"></app-subtotal>
                          </th>
                          <th *ngIf="show_sum_in_row">{{ findRowTotalSum(childrenSubScoreCard.orgunits) | number : '1.2-2'}}</th>
                          <th *ngIf="show_average_in_row">{{ findRowTotalAverage(childrenSubScoreCard.orgunits)}}</th>
                        </tr>
                      </table>
                    </div>

                    <!--end of First child scorecard-->
                    <!--end of First child scorecard-->


                </tr>
              </ng-container>

              <!--sum column-->
              <tr *ngIf="show_sum_in_column" style="height: 35px; max-height: 35px; overflow-y: hidden; line-height: 80%">
                <th style="line-height: 10%">Sum</th>
                <th *ngFor="let indicator of getItemsFromGroups()" style="width: 90px;max-width: 90px;line-height: 10%;padding: 0px">
                  <app-subtotal [indicator]="indicator" [orgunits]="subScoreCard.orgunits" [scorecard]="scorecard" [calculation]="'sum'" [indicator_list]="getVisibleIndicators(indicator)"></app-subtotal>
                </th>
                <th *ngIf="show_sum_in_row">{{ findRowTotalSum(subScoreCard.orgunits) | number : '1.2-2'}}</th>
                <th *ngIf="show_average_in_row">{{ findRowTotalAverage(subScoreCard.orgunits)}}</th>
              </tr>
              <!--Average column-->
              <tr *ngIf="show_average_in_column" style="height: 35px; max-height: 35px; overflow-y: hidden; line-height: 80%">
                <th style="line-height: 10%">Average</th>
                <th *ngFor="let indicator of getItemsFromGroups()" style="width: 90px;max-width: 90px;line-height: 10%;padding: 0px">
                  <app-subtotal [indicator]="indicator" [orgunits]="subScoreCard.orgunits" [scorecard]="scorecard" [calculation]="'avg'" [indicator_list]="getVisibleIndicators(indicator)"></app-subtotal>
                </th>
                <th *ngIf="show_sum_in_row">{{ findRowTotalSum(subScoreCard.orgunits) | number : '1.2-2'}}</th>
                <th *ngIf="show_average_in_row">{{ findRowTotalAverage(subScoreCard.orgunits)}}</th>
              </tr>
            </table>
          </div>

          <!--end of First child scorecard-->
          <!--end of First child scorecard-->


      </tr>
    </ng-container>

    <!--sum column-->
    <tr *ngIf="show_sum_in_column" style="height: 35px; max-height: 35px; overflow-y: hidden; line-height: 80%">
      <th style="line-height: 10%">Sum</th>
      <th *ngFor="let indicator of getItemsFromGroups()" style="width: 90px;max-width: 90px;line-height: 10%;padding: 0px">
        <app-subtotal [indicator]="indicator" [orgunits]="orgunits" [scorecard]="scorecard" [calculation]="'sum'" [indicator_list]="getVisibleIndicators(indicator)"></app-subtotal>
      </th>
      <th *ngIf="show_sum_in_row">{{ findRowTotalSum(orgunits) | number : '1.2-2'}}</th>
      <th *ngIf="show_average_in_row">{{ findRowTotalAverage(orgunits)}}</th>
    </tr>
    <!--Average column-->
    <tr *ngIf="show_average_in_column" style="height: 35px; max-height: 35px; overflow-y: hidden; line-height: 80%">
      <th>Average</th>
      <th *ngFor="let indicator of getItemsFromGroups()" style="width: 90px;max-width: 90px;line-height: 10%;padding: 0px">
        <app-subtotal [indicator]="indicator" [orgunits]="orgunits" [scorecard]="scorecard" [calculation]="'avg'" [indicator_list]="getVisibleIndicators(indicator)"></app-subtotal>
      </th>
      <th *ngIf="show_sum_in_row">{{ findRowTotalSum(orgunits)  | number : '1.2-2'}}</th>
      <th *ngIf="show_average_in_row">{{ findRowTotalAverage(orgunits)}}</th>
    </tr>
  </table>
</div>

<!--scorecard indicator details-->
<div class="indicator_details" *ngIf="show_details" [@fadeInOut]>
  <div class="indicator_dialog">
    <div class="indicator-content">
        <span class="glyphicon glyphicon-remove pull-right" style="cursor: pointer" (click)="removeModel()"></span>
      <div style="padding: 15px">
        <indicator-card
          [orgunit_nodes]="organisationunits"
          [current_period_type]="period_type"
          [current_year]="year"
          [indicator]="selected_indicator"
          [default_period]="period"
          [default_period_type]="period_type"
          [default_orgunit] = "orgunit_for_model"
          [hidden_columns] = "hidenColums"
          (show_details) = "getDetails($event)"
        >Loading ....
        </indicator-card>
      </div>
    </div>
  </div>
</div>
