.scorecard_table{
  margin-bottom: 3px;
  font-size: 9px;
  border: 1px solid #ddd;
  border-spacing: 0;
  border-collapse: collapse;
  display: table;
}

.pointer label{
  cursor: pointer;
}


.hide_no_group{
  display: none;
}

table * {
  line-height: 80%;
}

.subtotal{
  width:90px;max-width: 90px;
}
.indicator_title{
  font-size: 10px;
  width:90px;
  max-width: 90px;
  overflow-wrap: break-word;
  cursor: pointer;
  line-height: 140%
}
.dnd-drag-start {
  -moz-transform:scale(0.8);
  -webkit-transform:scale(0.8);
  transform:scale(0.8);
  opacity:0.7;
  border: 2px dashed #000;
}

.dnd-drag-enter {
  opacity:0.7;
  border: 2px dashed #000;
}

.dnd-drag-over {
  border: 2px dashed #000;
}

.dnd-sortable-drag {
  -moz-transform:scale(0.9);
  -webkit-transform:scale(0.9);
  transform:scale(0.9);
  opacity:0.7;
  border: 1px dashed #000;
}
@media print {
  .no-print *{
    display: none;
  }
  .no-print{
    display: none;
  }

  .orgUnitName{
    min-width: 130px;
    height: 35px;
    max-height: 35px;
    font-size: 9px;
  }
  .table-bordered td{
    /*border-top: 0.1em;*/
  }
  .legendItem{
    width: 200px;
    float: left;
  }

}
