<table class="table table-bordered scorecard_table" *ngIf="!scorecard.data.show_data_in_column">
  <!--Groups-->
  <tr [ngClass]="{'hide_no_group': scorecard.data.data_settings.indicator_holder_groups.length == 1}" style="line-height: 140%">
    <!--numbering-->
    <th *ngIf="scorecard.data.show_rank" style="width: 30px"></th>
    <!--orgunit area/for sorting orgunit-->
    <th class="orgUnitName" (click)="sortScoreCardFromColumn('none', sortAscending, orgunits, periods_list[0].id, false)" title="Sort scorecard by organisation unit">
      <!--sorting icons-->
      <span class="fa fa-sort-desc pull-right text-muted" *ngIf="!current_sorting && sorting_column == 'none'"></span>
      <span class="fa fa-sort-asc pull-right text-muted" *ngIf="current_sorting && sorting_column == 'none'"></span>
    </th>
    <!--display each group-->
    <th
      style="font-size: 11px; cursor: pointer"
      *ngFor="let indicator_holder_group of scorecard.data.data_settings.indicator_holder_groups"
      [attr.colspan]="getGroupColspan(indicator_holder_group.indicator_holder_ids)"
      [ngClass]="{'hide_no_group': getGroupColspan(indicator_holder_group.indicator_holder_ids) == 0}"
      (click)="loadPreview(indicator_holder_group,null,null,null)"
      title="Click to analyse indicators for {{ indicator_holder_group.name }}"
      dnd-droppable (onDropSuccess)="dragItemSuccessfull($event,'group',indicator_holder_group)"
    >
      <div dnd-draggable [dragEnabled]="true" [dragData]="indicator_holder_group">
        {{ indicator_holder_group.name }}
      </div>
    </th>
    <th *ngIf="show_sum_in_row"></th>
    <th *ngIf="scorecard.data.show_average_in_row"></th>
  </tr>
  <!--indicator titles-->
  <tr>
    <th *ngIf="scorecard.data.show_rank"  style="width: 30px;vertical-align: bottom;" [attr.rowspan]="periods_list.length >1 ? 2 : 1" [translate]="'No#'">No#</th>
    <th style="vertical-align: bottom" (click)="sortScoreCardFromColumn('none', sortAscending, orgunits, periods_list[0].id, false)">
      <!--sorting icons-->
      <input
        type="text"
        class="form-control form-control-sm no-print"
        [(ngModel)]="searchQuery"
        placeholder="{{ 'Search for orgunits here' | translate }}">
      <span class="fa fa-sort-up pull-right pull-right text-muted" *ngIf="!current_sorting && sorting_column == 'none' && scorecard.data.data_settings.indicator_holder_groups.length == 1"></span>
      <span class="fa fa-sort-down pull-right pull-right text-muted" *ngIf="current_sorting && sorting_column == 'none' && scorecard.data.data_settings.indicator_holder_groups.length == 1"></span>
    </th>
    <td *ngFor="let indicator of indicator_holders_list" class="indicator_title"
        style="line-height: 140%; padding: 0px;vertical-align: bottom; position: relative"
        title="{{ 'Click to Sort By' | translate }} {{ getIndicatorTitle(indicator) }} {{ indicator.indicators[0].bottleneck_indicators.length == 0 ? '': ', For bottleneck analysis, right click any of the cells' }}"
        (click)="sortScoreCardFromColumn(indicator.indicators[0].id, sortAscending, orgunits, periods_list[0].id, false)"
        (dblclick)="loadPreview(null,indicator,null,null)"
        [attr.colspan]="periods_list.length"
        dnd-droppable (onDropSuccess)="dragItemSuccessfull($event,'indicator',indicator)"
        [contextMenu]="indicatorMenu"
        [contextMenuSubject]="indicator"
        (contextmenu)="onContextMenu($event, indicator)"
        (mouseenter) ="mouseEnter(indicator)"
        (mouseleave) ="mouseLeave(indicator)"
    >
      <i title="For bottleneck analysis, right click any of the cells" *ngIf="indicator.indicators[0].bottleneck_indicators.length != 0" class="fa fa-bar-chart-o no-print" style="position: absolute; top:1px;right: 1px; opacity: 0.5"></i>
      <div dnd-draggable [dragEnabled]="true" [dragData]="indicator" style="padding: 8px;">
        <app-indicator-title
          [indicator]="indicator"
          [indicator_done_loading]="indicator_done_loading"
          [indicator_loading]="indicator_loading"
          [periods_list]="periods_list"
          [old_proccessed_percent]="old_proccessed_percent"
          [sorting_column]="sorting_column"
          [current_sorting]="current_sorting"
          [has_error]="has_error"
          [error_text]="error_text"
        ></app-indicator-title>
      </div>
    </td>
    <th class="subtotal" *ngIf="show_sum_in_row">Sum</th>
    <th
      class="subtotal"
      *ngIf="scorecard.data.show_average_in_row"
      (click)="sortScoreCardFromColumn('avg', sortAscending, orgunits, periods_list[0].id, false)"
      [attr.rowspan]="periods_list.length >1 ? 2 : 1"
      style="vertical-align: bottom;"
    >
      <span [translate]="'Average'"> Average</span>
      <!--sorting icons-->
      <span class="fa fa-sort-up pull-right  pull-right text-muted" *ngIf="!current_sorting && sorting_column == 'avg'"></span>
      <span class="fa fa-sort-down pull-right  pull-right text-muted" *ngIf="current_sorting && sorting_column == 'avg'"></span>
    </th>
  </tr>

  <!-- period dimension-->
  <tr *ngIf="periods_list.length > 1">
    <th style="vertical-align: bottom">

    </th>
    <ng-container *ngFor="let indicator of indicator_holders_list">
      <td *ngFor="let per of periods_list" class="indicator_title"
          style="line-height: 140%"
          title="{{ 'Click to Sort By' | translate }} {{ indicator.title }}"
          (click)="sortScoreCardFromColumn(indicator.indicators[0].id, sortAscending, orgunits, per.id, false)"
          (dblclick)="loadPreview(null,indicator,null,per)"
      >
        <app-period-title
          [indicator]="indicator"
          [period]="per"
          [indicator_done_loading]="indicator_done_loading"
          [indicator_loading]="indicator_loading"
          [periods_list]="periods_list"
          [old_proccessed_percent]="old_proccessed_percent"
          [sorting_column]="sorting_column"
          [sorting_period]="sorting_period"
          [current_sorting]="current_sorting"
          [has_error]="has_error"
          [error_text]="error_text"
        ></app-period-title>
      </td>
    </ng-container>
    <th class="subtotal" *ngIf="show_sum_in_row">Sum</th>
    <!--<th class="subtotal" *ngIf="show_average_in_row" (click)="sortScoreCardFromColumn('avg', sortAscending, orgunits, periods_list[0].id, false)"></th>-->
  </tr>

  <!--data-->

  <ng-container *ngFor="let current_orgunit of orgunits | filterByName:searchQuery; let i=index">
    <tr
      style="height: 35px; max-height: 35px; overflow-y: hidden; line-height: 80%"
      class="orunitTr"
      *ngIf="scorecard.data.shown_records == 'all' || i < scorecard.data.shown_records"
      [ngClass]="{'hide_no_group': isRowEmpty(current_orgunit.id) || averageHidden(current_orgunit.id,periods_list[0].id)}"
    >
      <td style="vertical-align: bottom;font-size: 10px;cursor: pointer;line-height: 80%;padding: 8px" *ngIf="scorecard.data.show_rank">{{ i+1 }}</td>
      <td style="vertical-align: bottom;font-size: 10px;cursor: pointer;line-height: 80%;padding: 0px;min-width:150px"
          class="orgUnitName"
          (click)="loadChildrenData(current_orgunit,null)"
          [style.cursor]="current_orgunit.is_parent ? 'default' : 'pointer'"
          dnd-droppable (onDropSuccess)="dragItemSuccessfull($event,'orgunit',current_orgunit)"
      >
        <div dnd-draggable [dragEnabled]="true" [dragData]="current_orgunit" style="padding: 8px">
          <span *ngIf="scorecard.data.show_hierarchy">{{ current_orgunit.parent }} / </span>  {{ current_orgunit.name }}
        </div>
      </td>
      <ng-container *ngFor="let indicator of indicator_holders_list">
        <td *ngFor="let per of periods_list"
            style="font-size: 10px;max-width: 90px;overflow-wrap: break-word; cursor: pointer; padding: 0px;line-height: 10%;"
            class="sans-pro"
            (click)="loadPreview(null,indicator,current_orgunit,per)"
            title="{{ prepareTooltip(indicator,current_orgunit.id,per.id) }}"
        >
          <svg-item
            [indicator]="indicator"
            [current_orgunit]="current_orgunit"
            [indicator_list]="getVisibleIndicators(indicator)"
            [scorecard]="scorecard"
            [period]="per.id"
            [contextMenu]="itemMenu"
            [contextMenuSubject]="indicator"
            (contextmenu)="onItemContextMenu($event, indicator, current_orgunit,per )"
          >
          </svg-item>
        </td>
      </ng-container>
      <td
        style="font-size: 10px;max-width: 90px;overflow-wrap: break-word;padding: 8px; line-height: 80%;"
        *ngIf="show_sum_in_row">
      </td>
      <td
        style="font-size: 10px;max-width: 90px;overflow-wrap: break-word;padding: 8px; line-height: 80%;"
        *ngIf="scorecard.data.show_average_in_row">
        {{ findRowAverage(current_orgunit.id, periods_list,null) }}
      </td>
    </tr>

    <tr *ngIf="showSubScorecard[current_orgunit.id]">
      <td [attr.colspan]="getSubscorecardColspan()" style="background-color: rgba(0,0,0,0.1)">
        <!--Internal score card-->
        <h3
          class="text-center text-muted"
          *ngIf="!children_available[current_orgunit.id]">
          {{ current_orgunit.name }}
          <span [translate]="'has no Children'"> has no Children</span>
        </h3>
        <app-scorecard
          *ngIf="children_available[current_orgunit.id]"
          #childScoreCard
          [scorecard]="subscorecard"
          [selectedOrganisationUnit]="sub_model"
          [selectedPeriod]="selectedPeriod"
          [functions]="functions"
          [organisation_unit_nodes]="organisation_unit_nodes"
          [is_children]="true"
          (show_details)="loadPreviewFromChild($event)"
        ></app-scorecard>
      </td>
    </tr>
  </ng-container>

  <!--sum column-->
  <tr *ngIf="scorecard.data.show_sum_in_column" style="height: 35px; max-height: 35px; overflow-y: hidden; line-height: 80%">
    <th *ngIf="scorecard.data.show_rank" style="width: 30px"></th>
    <th style="line-height: 10%">Sum</th>
    <ng-container *ngFor="let indicator of indicator_holders_list">
      <th *ngFor="let per of periods_list" style="width: 90px;max-width: 90px;line-height: 10%;padding: 0px">
        <app-subtotal [indicator]="indicator" [orgunits]="orgunits" [scorecard]="scorecard" [calculation]="'sum'" [indicator_list]="getVisibleIndicators(indicator)" [period]="per.id"></app-subtotal>
      </th>
    </ng-container>
    <th *ngIf="scorecard.data.show_sum_in_row">{{ findRowTotalSum(orgunits,periods_list[0].id) | number : '1.2-2'}}</th>
    <th *ngIf="scorecard.data.show_average_in_row">{{ findRowTotalAverage(orgunits,periods_list[0].id)}}</th>
  </tr>
  <!--Average column-->
  <tr *ngIf="scorecard.data.show_average_in_column" style="height: 35px; max-height: 35px; overflow-y: hidden; line-height: 80%">
    <th *ngIf="scorecard.data.show_rank" style="width: 30px"></th>
    <th [translate]="'Average'">Average</th>
    <ng-container *ngFor="let indicator of indicator_holders_list">
      <th *ngFor="let per of periods_list" style="width: 90px;max-width: 90px;line-height: 10%;padding: 0px">
        <app-subtotal [indicator]="indicator" [orgunits]="orgunits" [scorecard]="scorecard" [calculation]="'avg'" [indicator_list]="getVisibleIndicators(indicator)" [period]="per.id"></app-subtotal>
      </th>
    </ng-container>
    <th *ngIf="show_sum_in_row">{{ findRowTotalSum(orgunits,periods_list[0].id)  | number : '1.2-2'}}</th>
    <th *ngIf="scorecard.data.show_average_in_row">{{ findRowTotalAverage(orgunits,periods_list[0].id)}}</th>
  </tr>
  <!--additinal label-->
  <tr *ngFor="let label of scorecard.data.additional_labels">
    <th *ngIf="scorecard.data.show_rank" style="width: 30px"></th>
    <th>{{ label }}</th>
    <ng-container *ngFor="let indicator of indicator_holders_list">
      <th *ngFor="let per of periods_list"
          style="font-size: 10px;max-width: 90px;overflow-wrap: break-word; cursor: pointer; line-height: 80%"
          class="sans-pro">
        {{ getIndicatorLabel( indicator,label ) }}
      </th>
    </ng-container>
    <th *ngIf="show_sum_in_row"></th>
    <th *ngIf="scorecard.data.show_average_in_row"></th>
  </tr>
</table>

<context-menu #indicatorMenu>
  <!--<ng-template contextMenuItem (execute)="loadPreview(null,$event.item,null,null, null, true)"  let-item>-->
     <!--<span *ngIf="item.indicators[0].bottleneck_indicators.length != 0">-->
          <!--<i class="fa fa-bar-chart"></i>-->
          <!--<span [translate]="'Bottleneck Analysis'"> Bottleneck Analysis</span>-->
        <!--</span>-->
  <!--</ng-template>-->
  <ng-template contextMenuItem (execute)="loadPreview(null,$event.item,null,null)">
    <i class="fa fa-bar-chart-o" aria-hidden="true"></i>
    <span [translate]="'Basic Analysis'"> Further Analysis</span>
  </ng-template>
  <ng-template contextMenuItem (execute)="sortScoreCardFromColumn($event.item.indicators[0].id, true, orgunits, periods_list[0].id, false)">
    <i class="fa fa-sort-amount-asc" aria-hidden="true"></i>
    <span [translate]="'Sort Asc'">Sort Asc </span>
  </ng-template>
  <ng-template contextMenuItem (execute)="sortScoreCardFromColumn($event.item.indicators[0].id, false, orgunits, periods_list[0].id, false)">
    <i class="fa fa-sort-amount-desc" aria-hidden="true"></i>
    <span [translate]="'Sort Desc'"> Sort Desc</span>
  </ng-template>

  <ng-template contextMenuItem [subMenu]="orderSubmenu">
    <i class="fa fa-sort" aria-hidden="true"></i>
    <span [translate]="'Best/Worst'" >Best/Worst</span>
  </ng-template>
  <context-menu #orderSubmenu>
    <ng-template contextMenuItem (execute)="sortBestWorst('all', $event.item.indicators[0].id, false, orgunits, periods_list[0].id, false)">
      <i class="fa fa-list" aria-hidden="true"></i>
      <span [translate]="'All'"> All</span>
    </ng-template>
    <ng-template contextMenuItem (execute)="sortBestWorst(3, $event.item.indicators[0].id, false, orgunits, periods_list[0].id, false)">
      <i class="fa fa-sort-numeric-desc" style="margin-left:4px" aria-hidden="true"></i>
      <span [translate]="'Top Three'"> Top Three</span>
    </ng-template>
    <ng-template  contextMenuItem (execute)="sortBestWorst(5, $event.item.indicators[0].id, false, orgunits, periods_list[0].id, false)">
      <i class="fa fa-sort-numeric-desc" aria-hidden="true"></i>
      <span [translate]="'Top Five'"> Top Five</span>
    </ng-template>
    <ng-template contextMenuItem (execute)="sortBestWorst(10, $event.item.indicators[0].id, false, orgunits, periods_list[0].id, false)">
      <i class="fa fa-sort-numeric-desc" aria-hidden="true"></i>
      <span [translate]="'Top Te'"> Top Ten</span>
    </ng-template>
    <ng-template contextMenuItem (execute)="sortBestWorst(3, $event.item.indicators[0].id, true, orgunits, periods_list[0].id, false)">
      <i class="fa fa-sort-numeric-asc" style="margin-left:4px" aria-hidden="true"></i> Last Three
    </ng-template>
    <ng-template  contextMenuItem (execute)="sortBestWorst(5, $event.item.indicators[0].id, true, orgunits, periods_list[0].id, false)">
      <i class="fa fa-sort-numeric-asc" aria-hidden="true"></i>
      <span [translate]="'Last Five'"> Last Five</span>
    </ng-template>
    <ng-template contextMenuItem (execute)="sortBestWorst(10, $event.item.indicators[0].id, true, orgunits, periods_list[0].id, false)">
      <i class="fa fa-sort-numeric-asc" aria-hidden="true"></i>
      <span [translate]="'Last Ten'"> Last Ten</span>
    </ng-template>
  </context-menu>

  <ng-template *ngIf="indicator_holders_list.length !== 1" contextMenuItem (execute)="hideClicked($event.item)">
    <i class="fa fa-eye-slash" aria-hidden="true"></i>
    <span [translate]="'Hide'">Hide</span>
  </ng-template>
  <ng-template  *ngIf="hidenColums.length !== 0" contextMenuItem (execute)="hideClicked($event.item, 'all')">
    <i class="fa fa-eye" style="margin-left:4px" aria-hidden="true"></i>
    <span [translate]="'Show All'">Show All</span>
  </ng-template>
</context-menu>

<context-menu #itemMenu>
  <ng-template contextMenuItem (execute)="loadPreview(null, $event.item.item, $event.item.ou, $event.item.pe, null, true)"  let-item>
    <span *ngIf="item.item.indicators[0].bottleneck_indicators.length != 0">
          <i class="fa fa-bar-chart"></i>
          <span [translate]="'Bottleneck Analysis'"> Bottleneck Analysis</span>
        </span>
  </ng-template>
  <ng-template contextMenuItem (execute)="loadPreview(null, $event.item.item, $event.item.ou, $event.item.pe)">
    <i class="fa fa-bar-chart-o" aria-hidden="true"></i>
    <span [translate]="'Basic Analysis'">Basic Analysis</span>
  </ng-template>
  <ng-template contextMenuItem [subMenu]="saySubMenu">
    <i class="fa fa-line-chart" aria-hidden="true"></i>
    <span [translate]="'Trend Analysis'">Trend Analysis</span>
  </ng-template>
  <context-menu #saySubMenu>
    <ng-template contextMenuItem (execute)="loadPreview(null, $event.item.item, $event.item.ou, null, {id:'LAST_3_MONTHS',name:'Last 3 Month'})">
      <i class="fa fa-line-chart" aria-hidden="true"></i>
      <span [translate]="'Last 3 Month'">Last 3 Month</span>
    </ng-template>
    <ng-template contextMenuItem (execute)="loadPreview(null, $event.item.item, $event.item.ou, null, {id:'LAST_6_MONTHS',name:'Last 6 Month'})">
      <i class="fa fa-line-chart" aria-hidden="true"></i>
      <span [translate]="'Last 6 Month'">Last 6 Month</span>
    </ng-template>
    <ng-template  contextMenuItem (execute)="loadPreview(null, $event.item.item, $event.item.ou, null, {id:'LAST_12_MONTHS',name:'Last 12 Month'})">
      <i class="fa fa-line-chart" aria-hidden="true"></i>
      <span [translate]="'Last 12 Month'">Last 12 Month</span>
    </ng-template>
    <ng-template contextMenuItem (execute)="loadPreview(null, $event.item.item, $event.item.ou, null, {id:'LAST_4_QUARTERS',name:'Last 4 Quarter'})">
      <i class="fa fa-line-chart" style="margin-left:4px" aria-hidden="true"></i>
      <span [translate]="'Last 4 Quarter'">Last 4 Quarter</span>
    </ng-template>
    <ng-template contextMenuItem (execute)="loadPreview(null, $event.item.item, $event.item.ou, null, {id:'LAST_5_YEARS',name:'Last 5 Years'})">
      <i class="fa fa-line-chart" style="margin-left:4px" aria-hidden="true"></i>
      <span [translate]="'Last 5 Years'">Last 5 Years</span>
    </ng-template>
  </context-menu>

</context-menu>
