.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
  padding:2px!important;
}

ul.nav-tabs>li>a {
  font-size: 12px;
  border-top-style: none!important;
  border-radius: 0!important;
  margin-right: 0!important;
  border-bottom: 1px solid #ddd!important;
  border-left-style: none!important;
  border-right: 1px solid #ddd!important;
}
.nav-tabs {
  border: 1px solid #ddd!important;
  background-color: #f5f5f5!important;
}

.nav>li>a {
  padding: 10px 15px;
}

table.table-responsive>tr>th {
  font-size: 12px;
  border-top-style: none!important;
  border-radius: 0!important;
  margin-right: 0!important;
  border-bottom: 1px solid #ddd!important;
  border-left-style: none!important;
  border-right: 1px solid #ddd!important;
}
.table-responsive {
  border: 1px solid #ddd!important;
  /*background-color: #f5f5f5!important;*/
}

.table>tr>th {
  padding: 20px 15px;
}
