<div class="container">

  <h2><img src="balls-3.svg" style="height: 70px"/> {{message}}</h2>

  <div class="progress-wrapper">
    <div class="current" [ngStyle]="getOverlayStyle()">{{ current }}/{{ max }}</div>

    <round-progress
      [current]="current"
      [max]="max"
      [stroke]="stroke"
      [radius]="radius"
      [semicircle]="semicircle"
      [rounded]="rounded"
      [responsive]="responsive"
      [clockwise]="clockwise"
      [color]="gradient ? 'url(#gradient)' : color"
      [background]="background"
      [duration]="duration"
      [animation]="animation"
      [animationDelay]="animationDelay"></round-progress>
  </div>
</div>

