/* You can add global styles to this file, and also import other style files */
.cursor{
  cursor: pointer;
}



@media print {
  #menu-container{
    display: none;
  }
  #menu-container *{
    display: none;
  }
}
