/* You can add global styles to this file, and also import other style files */
.cursor{
  cursor: pointer;
}

.outline-secondary:focus {
  box-shadow: 0 0 0 0.0rem rgba(134,142,150,.5);
}

@media print {
  #menu-container{
    display: none;
  }
  #menu-container *{
    display: none;
  }
}
