<div class="container-fluid" style="padding-left: 0px">
  <div class="col-sm-2" style="padding-left: 0px; cursor: pointer;" [routerLink]="['']">
    <img src="icon.png"> <span style="font-size: 15px"> Score Card</span>
  </div>
  <div class="col-sm-8" style="margin-top: 14px">
    <input type="search" class="form-control input-sm" placeholder="Search score card by name" [(ngModel)]="queryterm">
  </div>
  <div class="col-sm-2" style="margin-top: 14px">
    <button class="btn btn-default btn-sm pull-right" [routerLink]="['create']"> Create</button>
  </div>
</div>
<!--if there is no scorecard created-->
<!--<div class="container-fluid" style="padding-left: 0px; border-top: 1px solid blanchedalmond; margin-top: 20px; padding-top: 23px">-->
<div class="container-fluid" style="padding-left: 0px; border-top: 1px solid blanchedalmond; margin-top: 20px; padding-top: 23px" *ngIf="scorecards.length == 0 && !scorecards_loading">
  <div class="jumbotron" >
    <h1>Welcome to Scorecard App!</h1>
    <p>Create a score card instantly, over tea break...</p>
    <ol style="margin-left:20px; font-size: 12px">
      <li style="padding:2px;">Click create new, Write your score card a title and description</li>
      <li style="padding:2px;">Write group header name for indicators you will create in next step</li>
      <li style="padding:2px;">Select indicator group and click indicator to add to the group
        <ul style="margin-left:20px;">
          <li style="padding:2px;">Edit title to change title to use on heading</li>
          <li style="padding:2px;">Enter effective gap to show increase/decrease from last period</li>
          <li style="padding:2px;">Set minimum and maximum range for each color code</li>
        </ul>
      </li>
      <li style="padding:2px;">Click "Add another" to add another indicator in next column in the group</li>
      <li style="padding:2px;">Select the second indicator to add indicator in the same group</li>
      <li style="padding:2px;">Click "Add another" in Group row to add next group</li>
    </ol>
    <p><a class="btn btn-primary btn-lg" href="#" role="button" [routerLink]="['create']">New Scorecard</a></p>
  </div>
</div>

<!--if the scorecards are being loaded-->
<div class="container-fluid" style="padding-left: 0px; border-top: 1px solid blanchedalmond; margin-top: 20px; padding-top: 23px" *ngIf="scorecards_loading" >
  <div class="well well-lg">
    <h3>Loading score cards...</h3>
    <h4>{{loading_message}}</h4>
  </div>
</div>

<div class="container-fluid" style="padding-left: 0px; border-top: 1px solid blanchedalmond; margin-top: 20px; padding-top: 23px" *ngIf="scorecards.length != 0 && !scorecards_loading" >


  <div class="col-sm-4" *ngFor="let scorecard of scorecards | scoreCardFilter:queryterm | paginate: { itemsPerPage: 3, currentPage: p } " style="padding-left: 0px">
    <div class="thumbnail scorecard_details">
      <h3 [routerLink]="['view',scorecard.id]">{{ scorecard.data.header.title }}</h3>
      <h5 [routerLink]="['view',scorecard.id]">{{ scorecard.data.header.description }}</h5>
      <p class="icons" *ngIf="!confirm_deleting[scorecard.id] && !deleting[scorecard.id] && !error_deleting[scorecard.id]">
        <a [routerLink]="['view',scorecard.id]" class="btn btn-primary sans-pro" role="button" title="Open {{ scorecard.data.header.title }}">
          View
        </a>
        <a title="edit {{ scorecard.data.header.title }}" [routerLink]="['create','edit',scorecard.id]" class="btn btn-default sans-pro" role="button">
          <span class="glyphicon glyphicon-pencil text-primary"></span>
        </a>
        <button title="delete {{ scorecard.data.header.title }}" (click)="confirm_deleting[scorecard.id] = true" class="btn btn-default sans-pro" role="button">
          <span class="glyphicon glyphicon-trash text-danger"></span>
        </button>
      </p>
      <p class="icons" *ngIf="confirm_deleting[scorecard.id]" style="padding: 5px; font-size: 12px"> Are you sure you want to delete this score card?
        <button class="btn btn-xs btn-danger" (click)="deleteScoreCard(scorecard)">Delete</button>
        <button class="btn btn-sm btn-success" (click)="confirm_deleting[scorecard.id] = false">Cancel</button>
      </p>

      <p class="icons" *ngIf="deleting[scorecard.id]" style="padding: 5px; font-size: 12px">
        <img src="loading.gif" style="height: 50px;"> Deleting Scorecard...
      </p>
      <p class="icons text-danger" *ngIf="error_deleting[scorecard.id]" style="padding: 5px; font-size: 12px">
        Something went wrong, Scorecard was not deleted
      </p>
    </div>
  </div>

</div>


<div class="row">
  <pagination-controls (pageChange)="p = $event" autoHide="true" maxSize="5"></pagination-controls>
</div>
